<!--hero section-->
<div
  class="overflow-hidden bg-white bg-gradient-to-r from-grey-500 to-transparent bg-gray-400 object-cover"
  style="
    background-image: url(./assets/videos/partnership.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  "
>
  <div class="lg:pt-80 lg:pb-80">
    <div class="relative mx-auto max-w-7xl px-4 sm:static sm:px-6 lg:px-8">
      <div class="sm:max-w-lg">
        <h1
          class="font text-4xl font-bold tracking-tight text-gray-200 sm:text-6xl"
        >
          Working in partnership with
        </h1>
      </div>
    </div>
  </div>
</div>

<section class="py-6 bg-gray-800 text-gray-50">
  <div class="container grid md:grid-cols-3 gap-8;">
    <div
      class="flex flex-col items-center justify-around my-0.5 mx-2 flex-1 p-4 pb-8 sm:p-8 lg:p-16 bg-gray-900 md:m-4 ;"
    >
      <img
        src="../../../../../assets/images/ACFAT-removebg-preview.png"
        alt=""
      />
      <p class="font-normal text-center font-light md:text-xs leading-3">
        Africa Center For Advanced Technology
      </p>
      <button
        class="px-4 py-1 mt-4 text-lg border rounded sm:mt-8 border-gray-700 cursor-pointer md:mt-1 hover:bg-sky-500"
      >
        <a href="https://africatechcenter.com/" target="_blank" class=""
          >Learn More</a
        >
      </button>
    </div>
    <div
      class="flex flex-col items-center justify-around my-0.5 mx-2 flex-1 p-4 pb-8 sm:p-8 lg:p-16 bg-gray-900 md:m-4"
    >
      <img
        src="../../../../../assets/images/RockBM-removebg-preview.png"
        alt=""
      />
      <p class="font-normal text-center font-light md:text-xs leading-3">
        Rock Bridge Minsitries
      </p>
      <button
        class="px-4 py-1 mt-4 text-lg border rounded sm:mt-8 border-gray-700 cursor-pointer md:mt-1 hover:bg-sky-500"
      >
        <a href="https://www.rockbridgeministries.org/" target="_blank"
          >Learn More</a
        >
      </button>
    </div>
    <div
      class="flex flex-col items-center justify-around my-0.5 mx-2 flex-1 p-4 pb-8 sm:p-8 lg:p-16 bg-gray-900 md:m-4"
    >
      <img
        src="../../../../../assets/images/PUEA-removebg-preview.png"
        alt=""
      />
      <p class="font-normal text-center font-light md:text-xs leading-3">
        The Presbyterian University of EA
      </p>
      <button
        class="px-4 py-1 mt-4 text-lg border rounded sm:mt-8 border-gray-700 cursor-pointer md:mt-1 hover:bg-sky-500"
      >
        <a href="https://puea.ac.ke/" target="_blank">Learn More</a>
      </button>
    </div>
    <div
      class="flex flex-col items-center justify-around my-0.5 mx-2 flex-1 p-4 pb-8 sm:p-8 lg:p-16 bg-gray-900 md:m-4"
    >
      <img
        src="../../../../../assets/images/AFRICAAI.JPRG-removebg-preview.png"
        alt=""
      />
      <p class="font-normal text-center font-light md:text-xs leading-3">
        Africa AI
      </p>
      <button
        class="px-4 py-1 mt-4 text-lg border rounded sm:mt-8 border-gray-700 cursor-pointer md:mt-1 hover:bg-sky-500"
      >
        <a href="https://www.africa.ai/" target="_blank">Learn More</a>
      </button>
    </div>
    <div
      class="flex flex-col items-center justify-around my-0.5 mx-2 flex-1 p-4 pb-8 sm:p-8 lg:p-16 bg-gray-900 md:m-4"
    >
      <img
        src="../../../../../assets/images/kyep-removebg-preview.png"
        alt=""
      />
      <p class="font-normal text-center font-light md:text-xs leading-3">
        KENYA YOUTH EMPOWERMENT KENYA
      </p>
      <button
        class="px-4 py-1 mt-4 text-lg border rounded sm:mt-8 border-gray-700 cursor-pointer md:mt-1 hover:bg-sky-500"
      >
        <a href="https://www.rockbridgeministries.org/" target="_blank"
          >Learn More</a
        >
      </button>
    </div>
    <div
      class="flex flex-col items-center justify-around my-0.5 mx-2 flex-1 p-4 pb-8 sm:p-8 lg:p-16 bg-gray-900 md:m-4"
    >
      <img
        src="../../../../../assets/images/techlit-removebg-preview.png"
        alt=""
      />
      <p class="font-normal text-center font-light md:text-xs leading-3">
        Tech Lit Africa
      </p>
      <button
        class="px-4 py-1 mt-4 text-lg border rounded sm:mt-8 border-gray-700 cursor-pointer md:mt-1 hover:bg-sky-500"
      >
        <a href="https://techlitafrica.org/" target="_blank">Learn More</a>
      </button>
    </div>
  </div>
</section>

<div class="max-w-screen-xl mx-auto px-5 bg-white min-h-sceen mb-16">
  <div class="flex flex-col items-center">
    <h2 class="font-bold text-5xl mt-5 tracking-tight">FAQ</h2>
    <p class="text-neutral-500 text-xl mt-3">Frequenty asked questions</p>
  </div>
  <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
    <div class="py-5">
      <details class="group">
        <summary
          class="flex justify-between items-center font-medium cursor-pointer list-none"
        >
          <span> How do i become a patner?</span>
          <span class="transition group-open:rotate-180">
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
          Reach out through the contacts on our contact page
        </p>
      </details>
    </div>
    <div class="py-5">
      <details class="group">
        <summary
          class="flex justify-between items-center font-medium cursor-pointer list-none"
        >
          <span> What work does a partnership with Lish AI entail?</span>
          <span class="transition group-open:rotate-180">
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
          It is dedicated to help youth build skills even when they work and
          also helps in empowering youth with digital skills
        </p>
      </details>
    </div>
    <div class="py-5">
      <details class="group">
        <summary
          class="flex justify-between items-center font-medium cursor-pointer list-none"
        >
          <span> What is expected of our patners?</span>
          <span class="transition group-open:rotate-180">
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
          Our patners are expected to contribute in their capacity to the
          empowerment of the youth
        </p>
      </details>
    </div>
    <div class="py-5">
      <details class="group">
        <summary
          class="flex justify-between items-center font-medium cursor-pointer list-none"
        >
          <span> Where is Lish AI lab located ?</span>
          <span class="transition group-open:rotate-180">
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
          We are located at Nakuru City, Kenyatta Avenue, Opposite OLA petrol
          station, next to DTB, Gibcon house 4th and 5th floor
        </p>
      </details>
    </div>
  </div>
</div>
