<!--hero section-->

<section class="bg-gray-900">
  <div class="max-w-full mx-auto px-4 md:px-8">
    <div
      class="w-full h-[50vh] md:h-[75vh] relative bg-[url('https://res.cloudinary.com/dpfcle0os/image/upload/v1706975523/samples/Lish-website/partenerslish_ol7lej.jpg')] bg-no-repeat bg-cover bg-center rounded-2xl"
    >
      <div class="absolute inset-0 bg-gray-900 bg-opacity-60 rounded-2xl">
        <div class="absolute top-20 sm:top-1/2 p-6 md:p-8 lg:p-12">
          <h1 class="text-3xl md:text-5xl font-semibold text-white max-w-3xl">
            Working in partnership with
          </h1>
          <p
            class="text-gray-300 py-3 md:text-xl text-lg max-w-3xl"
          >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-6 bg-gray-900 text-gray-50">
  <div
    class="container mx-auto flex flex-col items-center justify-around max-w-lg p-4 lg:max-w-full sm:p-10 lg:flex-row"
  >
    <div
      class="flex flex-col items-center justify-around flex-1 m-5 p-4 pb-8 text-center rounded-md sm:p-8 lg:p-16 bg-gray-800 text-white transform transition cursor-pointer hover:-translate-y-2 ml-10"
    >
      <img
        src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975520/samples/Lish-website/ACFAT_h9raqi.png"
        alt="image"
        class="h-16 w-auto"
      />
      <p class="font-semibold">
        ACAT's job market expertise and Lish AI Labs data annotation proficiency
        synergize to enhance job matching algorithms and optimize data analytics
        for improved candidate-employer compatibility.
      </p>
    </div>
    <div
      class="flex flex-col items-center justify-around flex-1 m-5 p-4 pb-8 text-center rounded-md sm:p-8 lg:p-16 bg-fuchsia-200 text-gray-900 transform transition cursor-pointer hover:-translate-y-2 ml-10"
    >
      <img
        src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975519/samples/Lish-website/TVETA_bjmp65.png"
        alt="image"
        class="h-16 w-auto"
      />
      <p class="font-semibold">
        TVETA provides lab locations, Lish AI Labs supplies expert trainers for
        lecturer education. This partnership ensures access to infrastructure
        and knowledge for cutting-edge AI training, shaping future education.
      </p>
    </div>
  </div>
  <div
    class="container mx-auto flex flex-col items-center justify-around max-w-lg p-4 lg:max-w-full sm:p-10 lg:flex-row"
  >
    <div
      class="flex flex-col items-center justify-around flex-1 m-5 p-4 pb-8 text-center rounded-md sm:p-8 lg:p-16 bg-white text-white transform transition cursor-pointer hover:-translate-y-2 ml-10"
    >
      <img
        src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975522/samples/Lish-website/konza_caf3z5.png"
        alt="image"
        class="h-20 w-auto"
      />
      <p class="font-semibold text-center text-black">
        The alliance aims to bridge the AI skills gap by providing comprehensive
        training to TVET teachers. Lish AI Labs will equip instructors with
        cutting-edge AI knowledge and effective teaching methods.
      </p>
    </div>

    <div
      class="flex flex-col items-center justify-around flex-1 m-5 p-4 pb-8 text-center rounded-md sm:p-8 lg:p-16 bg-red-400 text-black transform transition cursor-pointer hover:-translate-y-2 ml-10"
    >
      <img
        src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975521/samples/Lish-website/ICTAUTHORITY_u9jkvc.png"
        alt="image"
        class="h-20 w-auto"
      />
      <p class="font-semibold">
        Kenya's ICTA partnered with Lish AI Lab to enhance ICT education,
        streamlining skills with ICTA and providing online teacher training,
        fostering a skilled workforce and advancing tech education in Kenya.
      </p>
    </div>
  </div>
  <div
    class="container mx-auto flex flex-col items-center justify-around max-w-2xl p-4 lg:max-w-full sm:p-10 lg:flex-row"
  >
    <div
      class="flex flex-col items-center justify-around flex-1 m-5 p-4 pb-8 text-center rounded-md sm:p-8 lg:p-16 bg-yellow-400 text-black transform transition cursor-pointer hover:-translate-y-2 ml-10"
    >
      <img
        src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975526/samples/Lish-website/RockBM_ou6cay.png"
        alt="image"
        class="h-20 w-auto"
      />

      <p class="font-semibold">
        Rockbridge Service supplied 30% of underserved communities to Lish AI
        Labs, who provided specialized training for online job access, promoting
        economic empowerment and social inclusion.
      </p>
    </div>

    <div
      class="flex flex-col items-center justify-around flex-1 m-5 p-4 pb-8 text-center rounded-md sm:p-8 lg:p-16 bg-green-300 text-gray-900 transform transition cursor-pointer hover:-translate-y-2 ml-10"
    >
      <img
        src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975518/samples/Lish-website/AFRICAAI_ua85oo.png"
        alt="image"
        class="h-20 w-auto"
      />
      <p class="font-semibold">
        Africa AI partnered with Rockbridge Service to build distributed
        workforces, empowering underserved African communities. Lish AI Labs
        offers online jobs and training, driving economic empowerment and
        poverty alleviation.
      </p>
    </div>
  </div>
  <div
    class="container mx-auto flex flex-col items-center justify-around max-w-lg p-4 lg:max-w-full sm:p-10 lg:flex-row"
  >
    <div
      class="flex flex-col items-center justify-around flex-1 m-5 p-4 pb-8 text-center rounded-md sm:p-8 lg:p-16 bg-teal-600 text-black transform transition cursor-pointer hover:-translate-y-2 ml-10"
    >
      <img
        src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975521/samples/Lish-website/daraja360_kwk9ha.webp"
        alt="image"
        class="h-20 w-auto"
      />

      <p class="font-semibold">
        Daraja 360 supported vulnerable youth, partnering with Lish AI Labs to
        provide essential skills for a sustainable future. This collaboration
        empowers youth in the digital economy, fostering social inclusion and
        independence.
      </p>
    </div>
    <div
      class="flex flex-col items-center justify-around flex-1 m-5 p-4 pb-8 text-center rounded-md sm:p-8 lg:p-16 bg-cyan-200 text-gray-900 transform transition cursor-pointer hover:-translate-y-2 ml-10"
    >
      <img
        src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975522/samples/Lish-website/kyep_l0ddgf.png"
        alt="image"
        class="h-20 w-auto"
      />
      <p class="font-semibold">
        KYEOP focuses on offering employment and entrepreneurship support to
        youth aged 18-29, empowering them for digital economy opportunities,
        advancing social inclusion, and economic independence.
      </p>
    </div>
  </div>
</section>

<div class="max-w-screen-xl mx-auto px-5 bg-white min-h-sceen mb-16">
  <div class="flex flex-col items-center">
    <h2 class="font-bold text-5xl mt-5 tracking-tight">FAQ</h2>
    <p class="text-neutral-500 text-xl mt-3">Frequenty asked questions</p>
  </div>
  <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
    <div class="py-5">
      <details class="group">
        <summary
          class="flex justify-between items-center font-medium cursor-pointer list-none"
        >
          <span>
            How can I at any point guarantee the outcome of a Lish AI Labs
            partnership?
          </span>
          <span class="transition group-open:rotate-180">
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="text-neutral-900 mt-3 group-open:animate-fadeIn">
          Achievement frequently relies upon open correspondence, trust,
          customary assessments, and a pledge to the organization's objectives.
          Setting clear targets and it is significant to adjust assumptions.
        </p>
      </details>
    </div>
    <div class="py-5">
      <details class="group">
        <summary
          class="flex justify-between items-center font-medium cursor-pointer list-none"
        >
          <span>
            What occurs on the off chance that the organization isn't working
            out as planned?
          </span>
          <span class="transition group-open:rotate-180">
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="text-neutral-900 mt-3 group-open:animate-fadeIn">
          In the event that an organization isn't working out as expected,
          accomplices ought to convey transparently, survey the organization's
          understanding for arrangements, and think about renegotiation or on
          the other hand, if important, a settled upon leave procedure.
        </p>
      </details>
    </div>
    <div class="py-5">
      <details class="group">
        <summary
          class="flex justify-between items-center font-medium cursor-pointer list-none"
        >
          <span>
            Are there lawful contemplations for partnering with Lish AI?
          </span>
          <span class="transition group-open:rotate-180">
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="text-neutral-900 mt-3 group-open:animate-fadeIn">
          Indeed, Lish AI has legitimate ramifications. It's prudent to talk
          with legitimate guidance while drafting an organization's consent to
          guarantee it follows important regulations and guidelines.
        </p>
      </details>
    </div>
  </div>
</div>
