<!--hero section-->
<div
  class="relative overflow-hidden bg-white mt-8 bg-gradient-to-r from-grey-500 to-transparent bg-gray-400"
  style="
    background-image: url(https://res.cloudinary.com/dpfcle0os/image/upload/v1706975523/samples/Lish-website/partenerslish_ol7lej.jpg);
    background-size: cover;
    background-position: center right;
    background-attachment: fixed;
  "
>
  <div
    class="lg:pt-60 lg:pb-80 h-screen flex flex-col justify-center items-center"
  >
    <div class="relative mx-auto max-w-7xl px-4 sm:static sm:px-6 lg:px-8">
      <div class="sm:max-w-lg">
        <h1
          class="font text-4xl font-bold tracking-tight text-gray-200 sm:text-6xl"
        >
          Working in partnership with
        </h1>
      </div>
    </div>
  </div>
</div>
<section class="py-6 bg-gray-800 text-gray-50">
  <div
    class="container mx-auto flex flex-col items-center justify-around max-w-lg p-4 lg:max-w-full sm:p-10 lg:flex-row"
  >
    <div
      class="flex flex-col items-center justify-around flex-1 m-5 p-4 pb-8 text-center rounded-md sm:p-8 lg:p-16 bg-gray-900 text-white transform transition cursor-pointer hover:-translate-y-2 ml-10"
    >
      <img
        src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975520/samples/Lish-website/ACFAT_h9raqi.png"
        alt="image"
        class="h-16 w-auto"
      />
      <p class="font-semibold">
        ACAT's it extensivly reaches and expertise in the job market, coupled
        with Lish AI Labs' proficiency in data annotation, create a powerful
        synergy. This partnership is set to enhance job matching algorithms,
        ensuring that candidates and employers find the perfect fit, while also
        optimizing ACAT's data analytics capabilities.
      </p>
    </div>
    <div
      class="flex flex-col items-center justify-around flex-1 m-5 p-4 pb-8 text-center rounded-md sm:p-8 lg:p-16 bg-fuchsia-200 text-gray-900 transform transition cursor-pointer hover:-translate-y-2 ml-10"
    >
      <img
        src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975519/samples/Lish-website/TVETA_bjmp65.png"
        alt="image"
        class="h-16 w-auto"
      />
      <p class="font-semibold">
        In a strategic partnership, TVETA furnishes lab locations, while Lish AI
        Labs supplies expert trainers to educate lecturers. This collaboration
        ensures that educators have access to both the physical infrastructure
        and the specialized knowledge needed to offer cutting-edge AI training,
        fostering a well-rounded educational experience. Together, they are
        shaping the future of AI education.
      </p>
    </div>
  </div>
  <div
    class="container mx-auto flex flex-col items-center justify-around max-w-lg p-4 lg:max-w-full sm:p-10 lg:flex-row"
  >
    <div
      class="flex flex-col items-center justify-around flex-1 m-5 p-4 pb-8 text-center rounded-md sm:p-8 lg:p-16 bg-white text-white transform transition cursor-pointer hover:-translate-y-2 ml-10"
    >
      <img
        src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975522/samples/Lish-website/konza_caf3z5.png"
        alt="image"
        class="h-20 w-auto"
      />
      <p class="font-semibold text-center text-black">
        This association plans to connect the abilities hole in the field of
        man-made reasoning (computer based intelligence) by offering far
        reaching preparing projects to TVET teachers. Lish artificial
        intelligence Labs will engage speakers with state of the art simulated
        intelligence information and showing procedures, empowering them to
        actually grant applicable computer based intelligence abilities to their
        understudies.
      </p>
    </div>

    <div
      class="flex flex-col items-center justify-around flex-1 m-5 p-4 pb-8 text-center rounded-md sm:p-8 lg:p-16 bg-red-400 text-black transform transition cursor-pointer hover:-translate-y-2 ml-10"
    >
      <img
        src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975521/samples/Lish-website/ICTAUTHORITY_u9jkvc.png"
        alt="image"
        class="h-20 w-auto"
      />
      <p class="font-semibold">
        The Data and Correspondence Innovation Authority (ICTA), a Kenyan
        government-claimed company, has collaborated with Lish computer based
        intelligence Lab to upgrade ICT schooling. ICTA will smooth out ICT
        capabilities, while Lish computer based intelligence Lab gives web based
        preparing to teachers, all things considered cultivating a more talented
        labor force and propelling innovation schooling in Kenya. Together, they
        are driving advanced change and instructive greatness.
      </p>
    </div>
  </div>
  <div
    class="container mx-auto flex flex-col items-center justify-around max-w-2xl p-4 lg:max-w-full sm:p-10 lg:flex-row"
  >
    <div
      class="flex flex-col items-center justify-around flex-1 m-5 p-4 pb-8 text-center rounded-md sm:p-8 lg:p-16 bg-yellow-400 text-black transform transition cursor-pointer hover:-translate-y-2 ml-10"
    >
      <img
        src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975526/samples/Lish-website/RockBM_ou6cay.png"
        alt="image"
        class="h-20 w-auto"
      />

      <p class="font-semibold">
        In a cooperative exertion, Rockbridge Service recognizes and supplies
        30% of weak gatherings to Lish man-made intelligence Labs. Lish
        simulated intelligence Labs then gives particular preparation to enable
        these people to get to online open positions, making a commonly helpful
        organization that encourages financial strengthening and social
        incorporation. Together, they are preparing for underestimated networks
        to flourish in the advanced economy.
      </p>
    </div>

    <div
      class="flex flex-col items-center justify-around flex-1 m-5 p-4 pb-8 text-center rounded-md sm:p-8 lg:p-16 bg-green-300 text-gray-900 transform transition cursor-pointer hover:-translate-y-2 ml-10"
    >
      <img
        src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975518/samples/Lish-website/AFRICAAI_ua85oo.png"
        alt="image"
        class="h-20 w-auto"
      />
      <p class="font-semibold">
        In an extraordinary organization, Africa man-made intelligence works
        with the making of circulated oversaw labor forces in Africa, engaging
        underserved networks to get away from neediness cycles. Lish computer
        based intelligence Labs supplements this work by extending to online
        employment opportunities and complete preparation, synergizing to drive
        monetary strengthening and break the pattern of neediness across the
        landmass. Together, they are supporting a more promising time to come
        for minimized people in Africa.
      </p>
    </div>
  </div>
  <div
    class="container mx-auto flex flex-col items-center justify-around max-w-lg p-4 lg:max-w-full sm:p-10 lg:flex-row"
  >
    <div
      class="flex flex-col items-center justify-around flex-1 m-5 p-4 pb-8 text-center rounded-md sm:p-8 lg:p-16 bg-teal-600 text-black transform transition cursor-pointer hover:-translate-y-2 ml-10"
    >
      <img
        src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975521/samples/Lish-website/daraja360_kwk9ha.webp"
        alt="image"
        class="h-20 w-auto"
      />

      <p class="font-semibold">
        In a significant organization, Daraja 360 distinguishes and upholds weak
        youth to have honorable and maintainable existences, while Lish
        artificial intelligence Labs furnishes these youthful people with
        fundamental abilities through preparing programs. This joint effort
        means to engage minimized youth, empowering them to get to open doors in
        the computerized economy and cultivating a more promising time to come
        for them. Together, they are gaining ground towards social consideration
        and monetary independence.
      </p>
    </div>
    <div
      class="flex flex-col items-center justify-around flex-1 m-5 p-4 pb-8 text-center rounded-md sm:p-8 lg:p-16 bg-cyan-200 text-gray-900 transform transition cursor-pointer hover:-translate-y-2 ml-10"
    >
      <img
        src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975522/samples/Lish-website/kyep_l0ddgf.png"
        alt="image"
        class="h-20 w-auto"
      />
      <p class="font-semibold">
        KYEOP mainly focuses on providing employment and earning opportunities
        for youth aged between 18 and 29 years through various skills training
        and entrepreneurship support.Engages minimized youth, empowering them to
        get to open doors in the computerized economy and cultivating a more
        promising time to come for them. Together, they are gaining ground
        towards social consideration and monetary independence.
      </p>
    </div>
  </div>
</section>

<div class="max-w-screen-xl mx-auto px-5 bg-white min-h-sceen mb-16">
  <div class="flex flex-col items-center">
    <h2 class="font-bold text-5xl mt-5 tracking-tight">FAQ</h2>
    <p class="text-neutral-500 text-xl mt-3">Frequenty asked questions</p>
  </div>
  <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
    <div class="py-5">
      <details class="group">
        <summary
          class="flex justify-between items-center font-medium cursor-pointer list-none"
        >
          <span> What is a partnership? </span>
          <span class="transition group-open:rotate-180">
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="text-neutral-900 mt-3 group-open:animate-fadeIn">
          An association is a cooperative connection between at least two
          substances, where they cooperate to accomplish shared objectives,
          frequently by consolidating their assets, mastery, and endeavors.
        </p>
      </details>
    </div>
    <div class="py-5">
      <details class="group">
        <summary
          class="flex justify-between items-center font-medium cursor-pointer list-none"
        >
          <span>
            How can I at any point guarantee the outcome of a Lish AI Labs
            partnership?
          </span>
          <span class="transition group-open:rotate-180">
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="text-neutral-900 mt-3 group-open:animate-fadeIn">
          Achievement frequently relies upon open correspondence, trust,
          customary assessments, and a pledge to the organization's objectives.
          Setting clear targets and it is significant to adjust assumptions.
        </p>
      </details>
    </div>
    <div class="py-5">
      <details class="group">
        <summary
          class="flex justify-between items-center font-medium cursor-pointer list-none"
        >
          <span>
            What occurs on the off chance that the organization isn't working
            out as planned?
          </span>
          <span class="transition group-open:rotate-180">
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="text-neutral-900 mt-3 group-open:animate-fadeIn">
          In the event that an organization isn't working out as expected,
          accomplices ought to convey transparently, survey the organization's
          understanding for arrangements, and think about renegotiation or on
          the other hand, if important, a settled upon leave procedure.
        </p>
      </details>
    </div>
    <div class="py-5">
      <details class="group">
        <summary
          class="flex justify-between items-center font-medium cursor-pointer list-none"
        >
          <span>
            Are there lawful contemplations for partnering with Lish AI?
          </span>
          <span class="transition group-open:rotate-180">
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="text-neutral-900 mt-3 group-open:animate-fadeIn">
          Indeed, Lish AI has legitimate ramifications. It's prudent to talk
          with legitimate guidance while drafting an organization's consent to
          guarantee it follows important regulations and guidelines.
        </p>
      </details>
    </div>
  </div>
</div>
