<div class="bg-gray-900 py-24 sm:py-32 lg:py-40">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="sm:text-center">
      <p
        class="mt-16 text-3xl font-bold tracking-tight text-gray-100 sm:text-4xl"
      >
        PRESIDENT RUTO: OFF WE SET TO CREATE 1 MILLION JOBS UNDER THE DIGITAL
        ECONOMY IN LESS THAN FIVE YEARS.
      </p>
      <h2 class="mt-2 text-lg font-semibold leading-8 text-indigo-300">
        <img
          src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975523/samples/Lish-website/lucy_vthklp.jpg"
          alt="avatar"
          class="mx-auto mt-6 max-w-2xl text-lg leading-8 hidden object-cover w-14 h-14 rounded-full sm:block"
        />
        by Lucy Wanjiku.
      </h2>
      <p class="mx-auto mt-6 max-w-2xl text-lg leading-8 text-gray-300">
        6th December 2022
      </p>
    </div>
  </div>
</div>
<!-- blog content -->
<div class="max-w-screen-xl mx-auto px-5 bg-white min-h-sceen mb-16">
  <div class="flex flex-col items-center">
    <img
      src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975526/samples/Lish-website/Ruto1_fuf0ol.png"
      alt="image"
      class="h-full w-120 mt-10"
    />
  </div>
  <div class="grid divide-y divide-neutral-200 max-w-3xl mx-auto mt-8">
    <p class="text-base mb-4 text-center">
      President William Ruto takes a significant role as the guest of Honor to
      launch the first Digital job hub at Kabete National Polytechnic. He
      resolved that partnerships will roll out Labs across the country at the
      TVETA Institutions in the fastest time possible under the KYEP Program to
      ensure the program becomes a success. The President also challenged the PS
      for ICT and Digital Economy Eng. Tanui to oversee the creation of 1Million
      jobs in less than 5 Years. On his part, Mr. Tanui conquered that the
      government is in full support of embracing E-Tech solutions to eradicate
      the high rate of youth Unemployment in Kenya today. Later, the Lish team
      demonstrated to the President an annotation task which was a reflection of
      the jobs that would be undertaken in the job hubs immediately the program
      commences after the Launch. It was sighted that this would play a crucial
      role in the online jobs’ creation.
      <img
        src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975521/samples/Lish-website/David_zcvifh.png"
        alt="image"
        class="h-48 lg:h-72 w-auto mt-5 mb-5 lg:mx-24"
      />
      David Waweru a Lead Trainer at Lish AI Labs presented his 14-month online
      job experience at Lish. We see him echo about his life being transformed
      after he created a second income stream funded by the online job’s
      earnings. He explained that 14 months ago, he worked at a Local
      supermarket with a monthly salary of 9,000. After embracing the online job
      opportunity, he is now in a position earning 10,000 a week for sustainable
      development at his prime age.
      <img
        src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975531/samples/Lish-website/Ruto2_tl0bcr.png"
        alt="image"
        class="h-48 lg:h-72 w-auto mt-5 mb-5 lg:mx-36"
      />
      President William Ruto also observed that the Konza Technopolis provided
      and installed the 100 well-fitted computers, TVETA provided the Kabete
      Institution, ACAT would source for the online jobs, and Lish AI Labs bring
      in the workforce for contracted training and lab management. He conquered
      that this initiative under the Digital Economy would unlock Kenya’s
      employment frame, make youth self-reliant citizens, and spur economic
      growth.
    </p>
  </div>
</div>
