<!-- component -->
<div class="relative">
  <div
    class="sticky top-0 h-screen flex flex-col items-center justify-center bg-gradient-to-r from-grey-500 to-transparent bg-gray-400"
    style="
      background-image: url('../assets/videos/David.png');
      background-size: cover;
      background-blend-mode: multiply;
    "
  >
    >
    <div class="lg:pt-80 lg:pb-80">
      <div
        class="relative mt-8 mx-auto max-w-7xl px-4 sm:static sm:px-6 lg:px-8"
      >
        <div class="sm:max-w-lg">
          <h1
            class="font text-4xl font-bold tracking-tight text-white sm:text-4xl"
          >
            David Waweru a Lead Trainer at Lish AI Labs presented his 14-month
            online job experience at Lish
          </h1>
        </div>
        <div>
          <div class="mt-10 p-2">
            <a
              routerLink="/december2022blog"
              class="inline-block rounded-md border border-transparent bg-indigo-600 py-3 px-8 text-center font-medium text-white hover:bg-indigo-700"
              >Read more</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="absolute bottom-5 flex p-3 bg-gray-100 shadow">
      <div class="mx-4">
        <h1 class="text-lg text-red-600">scroll down</h1>
      </div>
    </div>
  </div>
  <div
    class="sticky top-0 h-screen flex flex-col items-center justify-center bg-gradient-to-r from-grey-500 to-transparent bg-gray-400"
    style="
      background-image: url('../assets/videos/Ruto2.png');
      background-size: cover;
      background-blend-mode: multiply;
    "
  >
    <div class="lg:pt-80 lg:pb-80">
      <div
        class="relative mt-8 mx-auto max-w-7xl px-4 sm:static sm:px-6 lg:px-8"
      >
        <div class="sm:max-w-lg">
          <h1
            class="font text-4xl font-bold tracking-tight text-white sm:text-4xl"
          >
            President William Ruto also observing the well-fitted computers by
            Konza Technopolis
          </h1>
        </div>
        <div>
          <div class="mt-10 p-2">
            <a
              routerLink="/december2022blog"
              class="inline-block rounded-md border border-transparent bg-indigo-600 py-3 px-8 text-center font-medium text-white hover:bg-indigo-700"
              >Read more</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="absolute bottom-5 flex p-3 bg-gray-100 shadow">
      <div class="mx-4">
        <h1 class="text-lg text-red-600">scroll down</h1>
      </div>
    </div> -->
  </div>
</div>
<section class="bg-gray-100">
  <div class="px-6 py-10 xl:mx-36">
    <div
      class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2 xl:grid-cols-3"
    >
      <div class="bg-white shadow-lg text-center rounded-lg">
        <div class="relative">
          <img
            class="object-cover rounded object-center w-full h-48 lg:h-64"
            alt=""
            src="../assets/videos/Ruto1.png"
          />.
          <div class="absolute bottom-0 flex p-3 bg-gray-100 shadow">
            <div class="mx-4">
              <h1 class="text-lg text-red-600">6th December 2022</h1>
            </div>
          </div>
        </div>

        <h1 class="mt-6 text-xl font-semibold text-cyan-700 mx-10">
          By Lucy Wanjiku
        </h1>

        <hr class="w-auto my-6 text-cyan-800 mx-10" />

        <p class="text-1xl text-gray-900 mx-10">
          PRESIDENT RUTO: OFF WE SET TO CREATE 1 MILLION JOBS UNDER THE DIGITAL
          ECONOMY IN LESS THAN FIVE YEARS.
        </p>
        <a
          routerLink="/december2022blog"
          class="inline-block mt-4 text-cyan-600 underline hover:text-red-400 m-10"
          >Read more</a
        >
      </div>
      <div class="bg-white shadow-lg text-center rounded-lg">
        <div class="relative">
          <img
            class="object-cover rounded object-center w-full h-48 lg:h-64"
            alt=""
            src="../assets/videos/Ruto1.png"
          />.
          <div class="absolute bottom-0 flex p-3 bg-gray-100 shadow">
            <div class="mx-4">
              <h1 class="text-lg text-red-600">6th September 2023</h1>
            </div>
          </div>
        </div>

        <h1 class="mt-6 text-xl font-semibold text-cyan-700 mx-10">
          By Daina Mueni
        </h1>

        <hr class="w-auto my-6 text-cyan-800 mx-10" />

        <p class="text-1xl text-gray-900 mx-10">
          PRESIDENT RUTO: OFF WE SET TO CREATE 1 MILLION JOBS UNDER THE DIGITAL
          ECONOMY IN LESS THAN FIVE YEARS.
        </p>
        <a
          routerLink="/august2023blog"
          class="inline-block mt-4 text-cyan-600 underline hover:text-red-400 m-10"
          >Read more</a
        >
      </div>
    </div>
  </div>
</section>
