<app-hero></app-hero>

<app-services></app-services>

<!-- What sets us apart -->
<div class="bg-white py-24 sm:py-32 lg:py-40">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="sm:text-center">
      <h2 class="text-lg font-semibold leading-8 text-blue-600 select-none">
        OUR APPROACH
      </h2>
      <p
        class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl select-none"
      >
        What Sets Us Apart?
      </p>
      <p
        class="mx-auto mt-6 max-w-2xl text-lg leading-8 text-gray-600 select-none"
      >
        We have centered our operations to cater to the needs of our customers
        with ample technology and well trained workers with capabilty to scale.
      </p>
    </div>

    <div class="mt-20 max-w-lg sm:mx-auto md:max-w-none">
      <div
        class="grid grid-cols-1 gap-y-16 md:grid-cols-2 md:gap-x-12 md:gap-y-16"
      >
        <div
          class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row"
        >
          <div class="sm:min-w-0 sm:flex-1">
            <p
              class="text-lg font-semibold leading-8 text-gray-900 select-none"
            >
              High-Quality Annotations:
            </p>
            <p class="mt-2 text-base leading-7 text-gray-600 select-none">
              We are committed to delivering accurate and high-quality
              annotations. Our rigorous quality control processes, including
              human verification and validation, ensure the highest level of
              data accuracy.
            </p>
          </div>
        </div>

        <div
          class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row"
        >
          <div class="sm:min-w-0 sm:flex-1">
            <p
              class="text-lg font-semibold leading-8 text-gray-900 select-none"
            >
              Customized Solutions:
            </p>
            <p class="mt-2 text-base leading-7 text-gray-600 select-none">
              We specialize in providing tailored annotation solutions to meet
              your unique needs. Our flexibility allows us to handle various
              data types, formats, and industry-specific requirements.
            </p>
          </div>
        </div>

        <div
          class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row"
        >
          <div class="sm:min-w-0 sm:flex-1">
            <p
              class="text-lg font-semibold leading-8 text-gray-900 select-none"
            >
              Scalability:
            </p>
            <p class="mt-2 text-base leading-7 text-gray-600 select-none">
              Our capacity to handle large-scale annotation projects efficiently
              is a testament to our infrastructure, automation capabilities, and
              experienced workforce, assuring you that we can handle projects of
              any size.
            </p>
          </div>
        </div>

        <div
          class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row"
        >
          <div class="sm:min-w-0 sm:flex-1">
            <p
              class="text-lg font-semibold leading-8 text-gray-900 select-none"
            >
              Experienced Annotation Team:
            </p>
            <p class="mt-2 text-base leading-7 text-gray-600 select-none">
              Our team comprises experts in AI annotation. Our annotators, data
              scientists, and project managers bring extensive qualifications
              and experience to ensure the success of your projects.
            </p>
          </div>
        </div>
        <div
          class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row"
        >
          <div class="sm:min-w-0 sm:flex-1">
            <p
              class="text-lg font-semibold leading-8 text-gray-900 select-none"
            >
              Data Security and Privacy:
            </p>
            <p class="mt-2 text-base leading-7 text-gray-600 select-none">
              We take data security and privacy seriously. Our robust security
              measures, including encryption, access controls, and compliance
              with data protection regulations like GDPR or HIPAA, provide you
              with peace of mind.
            </p>
          </div>
        </div>
        <div
          class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row"
        >
          <div class="sm:min-w-0 sm:flex-1">
            <p
              class="text-lg font-semibold leading-8 text-gray-900 select-none"
            >
              Advanced Technology:
            </p>
            <p class="mt-2 text-base leading-7 text-gray-600 select-none">
              Our use of cutting-edge AI tools, algorithms, and annotation
              platforms streamlines the annotation process, enhancing efficiency
              and accuracy in data labeling.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-gallery></app-gallery>

<app-partners></app-partners>
