<app-hero></app-hero>

<!--about us section-->
<div
  class="px-2 flex flex-col items-center py-24 sm:px-6 sm:py-32 lg:px-8 bg-white"
>
  <div class="sm:text-center pb-4 flex flex-col items-center justify-center">
    <h2 class="text-lg font-semibold leading-8 text-blue-600">OUR STORY</h2>
    <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
      What is our Impact?
    </p>
  </div>
  <div class="w-full h-auto lg:w-3/5 lg:h-96">
    <iframe
      class="rounded-sm"
      width="100%"
      height="100%"
      src="https://www.youtube.com/embed/r0WZj3wm0GY"
      title="Empowering Youth with Digital Skills Self-reliance and Sustainable Development."
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>

  <div class="pt-4 sm:text-center">
    <div class="about__text"></div>
  </div>
</div>

<app-services></app-services>

<!-- What sets us apart -->
<div class="bg-white py-24 sm:py-32 lg:py-40">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="sm:text-center">
      <h2 class="text-lg font-semibold leading-8 text-blue-600 select-none">
        OUR APPROACH
      </h2>
      <p
        class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl select-none"
      >
        What Sets Us Apart?
      </p>
      <p
        class="mx-auto mt-6 max-w-2xl text-lg leading-8 text-gray-600 select-none"
      >
        We have centered our operations to cater to the needs of our customers
        with ample technology and well trained workers with capabilty to scale.
      </p>
    </div>

    <div class="mt-20 max-w-lg sm:mx-auto md:max-w-none">
      <div
        class="grid grid-cols-1 gap-y-16 md:grid-cols-2 md:gap-x-12 md:gap-y-16"
      >
        <div
          class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row"
        >
          <div class="sm:min-w-0 sm:flex-1">
            <p
              class="text-lg font-semibold leading-8 text-gray-900 select-none"
            >
              High-Quality Annotations:
            </p>
            <p class="mt-2 text-base leading-7 text-gray-600 select-none">
              We are committed to delivering accurate and high-quality
              annotations. Our rigorous quality control processes, including
              human verification and validation, ensure the highest level of
              data accuracy.
            </p>
          </div>
        </div>

        <div
          class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row"
        >
          <div class="sm:min-w-0 sm:flex-1">
            <p
              class="text-lg font-semibold leading-8 text-gray-900 select-none"
            >
              Customized Solutions:
            </p>
            <p class="mt-2 text-base leading-7 text-gray-600 select-none">
              We specialize in providing tailored annotation solutions to meet
              your unique needs. Our flexibility allows us to handle various
              data types, formats, and industry-specific requirements.
            </p>
          </div>
        </div>

        <div
          class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row"
        >
          <div class="sm:min-w-0 sm:flex-1">
            <p
              class="text-lg font-semibold leading-8 text-gray-900 select-none"
            >
              Scalability:
            </p>
            <p class="mt-2 text-base leading-7 text-gray-600 select-none">
              Our capacity to handle large-scale annotation projects efficiently
              is a testament to our infrastructure, automation capabilities, and
              experienced workforce, assuring you that we can handle projects of
              any size.
            </p>
          </div>
        </div>

        <div
          class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row"
        >
          <div class="sm:min-w-0 sm:flex-1">
            <p
              class="text-lg font-semibold leading-8 text-gray-900 select-none"
            >
              Experienced Annotation Team:
            </p>
            <p class="mt-2 text-base leading-7 text-gray-600 select-none">
              Our team comprises experts in AI annotation. Our annotators, data
              scientists, and project managers bring extensive qualifications
              and experience to ensure the success of your projects.
            </p>
          </div>
        </div>
        <div
          class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row"
        >
          <div class="sm:min-w-0 sm:flex-1">
            <p
              class="text-lg font-semibold leading-8 text-gray-900 select-none"
            >
              Data Security and Privacy:
            </p>
            <p class="mt-2 text-base leading-7 text-gray-600 select-none">
              We take data security and privacy seriously. Our robust security
              measures, including encryption, access controls, and compliance
              with data protection regulations like GDPR or HIPAA, provide you
              with peace of mind.
            </p>
          </div>
        </div>
        <div
          class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row"
        >
          <div class="sm:min-w-0 sm:flex-1">
            <p
              class="text-lg font-semibold leading-8 text-gray-900 select-none"
            >
              Advanced Technology:
            </p>
            <p class="mt-2 text-base leading-7 text-gray-600 select-none">
              Our use of cutting-edge AI tools, algorithms, and annotation
              platforms streamlines the annotation process, enhancing efficiency
              and accuracy in data labeling.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- blogs and news -->

<section class="bg-gray-100">
  <div class="container px-6 py-10 mx-auto">
    <div class="text-center">
      <h1
        class="text-2xl font-semibold text-gray-800 capitalize lg:text-3xl select-none"
      >
        From the blog
      </h1>

      <p class="max-w-lg mx-auto text-gray-500"></p>
    </div>

    <!--  -->
    <div class="py-10 xl:mx-36">
      <div
        class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2 xl:grid-cols-3"
      >
        <div class="bg-white shadow-lg text-center rounded-lg select-none">
          <div class="relative">
            <img
              class="object-cover rounded object-center w-auto h-48 lg:h-64"
              alt=""
              src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975532/samples/Lish-website/robot_waxepm.jpg"
            />.
            <div class="absolute bottom-0 flex p-3 bg-gray-100 shadow rounded">
              <div class="mx-4">
                <h1 class="text-base text-red-600">6th September 2023</h1>
              </div>
            </div>
          </div>

          <h1
            class="mt-6 text-base text-cyan-700 mx-10 inline-flex relative duration-150"
          >
            By Daina Mueni
          </h1>

          <hr class="w-auto my-6 text-cyan-800 mx-10" />
          <div
            class="text-base text-gray-900 px-3 overflow-hidden z-10 relative leading-6"
          >
            How far can we trust AI.
          </div>
          <a
            routerLink="/blog/august2023"
            class="inline-block mt-4 text-cyan-600 underline hover:text-red-400 m-10"
            >Read more</a
          >
        </div>

        <div class="bg-white shadow-lg text-center rounded-lg select-none">
          <div class="relative">
            <img
              class="object-cover rounded object-center w-auto h-48 lg:h-64"
              alt=""
              src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975526/samples/Lish-website/Ruto1_fuf0ol.png"
            />.
            <div class="absolute bottom-0 flex p-3 bg-gray-100 shadow rounded">
              <div class="mx-4">
                <h1 class="text-base text-red-600">6th December 2023</h1>
              </div>
            </div>
          </div>

          <h1
            class="mt-6 text-base text-cyan-700 mx-10 inline-flex relative duration-150"
          >
            By Lucy Wanjiku
          </h1>

          <hr class="w-auto my-6 text-cyan-800 mx-10" />

          <div class="text-1xl text-gray-900 mx-10">
            H.E President Ruto : Off we set to create 1 million jobs under the
            digital economy in less than five years.
          </div>
          <a
            routerLink="/blog/december2022"
            class="inline-block mt-4 text-cyan-600 underline hover:text-red-400 m-10 select-none"
            >Read more</a
          >
        </div>
        <div class="bg-white shadow-lg text-center rounded-lg">
          <div class="relative">
            <img
              class="object-cover rounded object-center w-auto h-48 lg:h-64"
              alt=""
              src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975527/samples/Lish-website/sept26_ty8rcx.jpg"
            />.
            <div class="absolute bottom-0 flex p-3 bg-gray-100 shadow rounded">
              <div class="mx-4">
                <h1 class="text-base text-red-600">26th September 2023</h1>
              </div>
            </div>
          </div>

          <h1
            class="mt-6 text-base text-cyan-700 mx-10 inline-flex relative duration-150"
          >
            By Steve Kamoni
          </h1>

          <hr class="w-auto my-6 text-cyan-800 mx-10" />

          <p
            class="text-base text-gray-900 px-3 overflow-hidden z-10 relative leading-6"
          >
            The Evolution of Artificial Intelligence: From Alan Turing to
            ChatGPT 4.
          </p>
          <a
            routerLink="/blog/september2023"
            class="inline-block mt-4 text-cyan-600 underline hover:text-red-400 m-10"
            >Read more</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<app-gallery></app-gallery>

<app-partners></app-partners>
