<!--header section-->
<div
  class="relative overflow-hidden bg-white mt-8 bg-gradient-to-r from-grey-500 to-transparent bg-slate-950"
  style="
    background-image: url(./assets/videos/annotation33.jpeg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
  "
>
  <!-- Overlay div for creating the overlay effect -->
  <div class="h-screen flex items-center justify-items-start relative">
    <div
      class="absolute inset-0 px-4 sm:static flex items-center justify-center"
    >
      <div class="sm:max-w-lg lg:px-16 text-center">
        <h1
          class="font text-4xl font-semibold text-white text-2xl md:font-bold"
        >
          Image Annotation <br />
          and Labeling
        </h1>
        <p class="text-xl text-thin text-white md:text-2xl">
          Customized image annotation services for various data analysis
          processes.
        </p>
      </div>
    </div>
  </div>
  <!-- End of overlay div -->
</div>

<!--about us section-->
<div
  class="px-2 flex flex-col items-center py-24 sm:px-6 sm:py-32 lg:px-8 bg-white py-12 sm:py-32 lg:"
>
  <div class="sm:text-center pb-4 flex flex-col items-center justify-center">
    <h2 class="text-lg font-semibold leading-8 text-indigo-600">OUR STORY</h2>
    <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
      What is our Impact?
    </p>
  </div>
  <div class="w-full h-auto lg:w-3/5 lg:h-96">
    <iframe
      class="rounded-sm"
      width="100%"
      height="100%"
      src="https://www.youtube.com/embed/r0WZj3wm0GY"
      title="Empowering Youth with Digital Skills Self-reliance and Sustainable Development."
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>

  <div class="pt-4 sm:text-center">
    <div class="about__text"></div>
  </div>
</div>

<!-- another section -->
<!-- section -->
<section class="bg-gray-800">
  <div class="container px-6 py-10 mx-auto">
    <h1 class="text-2xl font-semibold text-white capitalize lg:text-4xl">
      AI is no longer <br />
      a <span class="text-blue-400">Thing of the future.</span>
    </h1>
    <div class="">
      <p class="mt-6 max-w-2xl text-lg lg:text-2xl leading-8 text-gray-300">
        Lish AI focuses on initiatives under three classifications: industry-led
        projects, training, and Youth Empowerment.
      </p>
    </div>
    <div
      class="grid grid-cols-1 gap-8 my-48 mt-8 xl:mt-12 xl:gap-16 md:grid-cols-2 xl:grid-cols-3"
    >
      <div
        class="flex flex-col items-center p-6 space-y-3 text-center bg-orange-600 rounded-xl transform transition cursor-pointer hover:-translate-y-2 ml-10"
      >
        <span
          class="inline-block p-3 text-white bg-orange-600 rounded-full animate-bounce"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
            />
          </svg>
        </span>

        <h1
          class="text-xl lg:text-3xl font-semibold text-black capitalize select-none"
        >
          Training
        </h1>

        <p class="text-black select-none">
          We invest in our workforce with an accelerated program that trains in
          every aspect of AI annotation. We also offer certfied training.
        </p>

        <a
          [routerLink]="['/training']"
          class="flex items-center -mx-1 text-sm text-black capitalize transition-colors duration-300 transform hover:underline hover:text-white"
        >
          <span class="mx-1 my-10">read more</span>
          <svg
            class="w-4 h-4 mx-1 rtl:-scale-x-100"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </a>
      </div>

      <div
        class="flex flex-col items-center p-6 space-y-3 text-center bg-yellow-500 rounded-xl transform transition cursor-pointer hover:-translate-y-2 ml-10"
      >
        <span
          class="inline-block p-3 text-white bg-yellow-500 rounded-full animate-bounce"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
            />
          </svg>
        </span>

        <h1
          class="text-xl lg:text-3xl font-semibold text-black capitalize select-none"
        >
          AI Projects
        </h1>

        <p class="text-black select-none">
          We undertake projects especially ones that are AI related but also
          provide solution to business in data labelling and data science to
          machine learning solution to meet business needs .
        </p>

        <a
          routerLink="/blog"
          class="flex items-center -mx-1 text-sm text-black capitalize transition-colors duration-300 transform hover:underline hover:text-white"
        >
          <span class="mx-1 my-10">read more</span>
          <svg
            class="w-4 h-4 mx-1 rtl:-scale-x-100"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </a>
      </div>

      <div
        class="flex flex-col items-center p-6 space-y-3 text-center rounded-xl bg-blue-600 transform transition cursor-pointer hover:-translate-y-2 ml-10"
      >
        <span
          class="inline-block p-3 text-white bg-blue-600 rounded-full animate-bounce"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z"
            />
          </svg>
        </span>

        <h1
          class="text-xl lg:text-3xl font-semibold text-black capitalize select-none"
        >
          Youth Empowerment
        </h1>

        <p class="text-black select-none">
          We as a company feel obligated to not only provide a platform for Jobs
          but to enable and empower our taskers with skills that can be used
          outside the scope of AI annotation
        </p>

        <a
          [routerLink]="['/partnership']"
          class="flex items-center -mx-1 text-sm text-black capitalize transition-colors duration-300 transform hover:underline hover:text-white"
        >
          <span class="mx-1 my-10">read more</span>
          <svg
            class="w-4 h-4 mx-1 rtl:-scale-x-100"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- another section -->
<div class="bg-white py-24 sm:py-32 lg:py-40">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="sm:text-center">
      <h2 class="text-lg font-semibold leading-8 text-indigo-600 select-none">
        OUR APPROACH
      </h2>
      <p
        class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl select-none"
      >
        What Sets Us Apart?
      </p>
      <p
        class="mx-auto mt-6 max-w-2xl text-lg leading-8 text-gray-600 select-none"
      >
        We have centered our operations to cater to the needs of our customers
        with ample technology and well trained workers with capabilty to scale.
      </p>
    </div>

    <div class="mt-20 max-w-lg sm:mx-auto md:max-w-none">
      <div
        class="grid grid-cols-1 gap-y-16 md:grid-cols-2 md:gap-x-12 md:gap-y-16"
      >
        <div
          class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row"
        >
          <div class="sm:min-w-0 sm:flex-1">
            <p
              class="text-lg font-semibold leading-8 text-gray-900 select-none"
            >
              High-Quality Annotations:
            </p>
            <p class="mt-2 text-base leading-7 text-gray-600 select-none">
              We are committed to delivering accurate and high-quality
              annotations. Our rigorous quality control processes, including
              human verification and validation, ensure the highest level of
              data accuracy.
            </p>
          </div>
        </div>

        <div
          class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row"
        >
          <div class="sm:min-w-0 sm:flex-1">
            <p
              class="text-lg font-semibold leading-8 text-gray-900 select-none"
            >
              Customized Solutions:
            </p>
            <p class="mt-2 text-base leading-7 text-gray-600 select-none">
              We specialize in providing tailored annotation solutions to meet
              your unique needs. Our flexibility allows us to handle various
              data types, formats, and industry-specific requirements.
            </p>
          </div>
        </div>

        <div
          class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row"
        >
          <div class="sm:min-w-0 sm:flex-1">
            <p
              class="text-lg font-semibold leading-8 text-gray-900 select-none"
            >
              Scalability:
            </p>
            <p class="mt-2 text-base leading-7 text-gray-600 select-none">
              Our capacity to handle large-scale annotation projects efficiently
              is a testament to our infrastructure, automation capabilities, and
              experienced workforce, assuring you that we can handle projects of
              any size.
            </p>
          </div>
        </div>

        <div
          class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row"
        >
          <div class="sm:min-w-0 sm:flex-1">
            <p
              class="text-lg font-semibold leading-8 text-gray-900 select-none"
            >
              Experienced Annotation Team:
            </p>
            <p class="mt-2 text-base leading-7 text-gray-600 select-none">
              Our team comprises experts in AI annotation. Our annotators, data
              scientists, and project managers bring extensive qualifications
              and experience to ensure the success of your projects.
            </p>
          </div>
        </div>
        <div
          class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row"
        >
          <div class="sm:min-w-0 sm:flex-1">
            <p
              class="text-lg font-semibold leading-8 text-gray-900 select-none"
            >
              Data Security and Privacy:
            </p>
            <p class="mt-2 text-base leading-7 text-gray-600 select-none">
              We take data security and privacy seriously. Our robust security
              measures, including encryption, access controls, and compliance
              with data protection regulations like GDPR or HIPAA, provide you
              with peace of mind.
            </p>
          </div>
        </div>
        <div
          class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row"
        >
          <div class="sm:min-w-0 sm:flex-1">
            <p
              class="text-lg font-semibold leading-8 text-gray-900 select-none"
            >
              Advanced Technology:
            </p>
            <p class="mt-2 text-base leading-7 text-gray-600 select-none">
              Our use of cutting-edge AI tools, algorithms, and annotation
              platforms streamlines the annotation process, enhancing efficiency
              and accuracy in data labeling.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- blogs and news -->

<section class="bg-gray-100">
  <div class="container px-6 py-10 mx-auto">
    <div class="text-center">
      <h1
        class="text-2xl font-semibold text-gray-800 capitalize lg:text-3xl select-none"
      >
        From the blog
      </h1>

      <p class="max-w-lg mx-auto text-gray-500"></p>
    </div>

    <!--  -->
    <div class="py-10 xl:mx-36">
      <div
        class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2 xl:grid-cols-3"
      >
        <div class="bg-white shadow-lg text-center rounded-lg select-none">
          <div class="relative">
            <img
              class="object-cover rounded object-center w-auto h-48 lg:h-64"
              alt=""
              src="../assets/videos/robot.jpg"
            />.
            <div class="absolute bottom-0 flex p-3 bg-gray-100 shadow rounded">
              <div class="mx-4">
                <h1 class="text-base text-red-600">6th September 2023</h1>
              </div>
            </div>
          </div>

          <h1
            class="mt-6 text-base text-cyan-700 mx-10 inline-flex relative duration-150"
          >
            By Daina Mueni
          </h1>

          <hr class="w-auto my-6 text-cyan-800 mx-10" />
          <div
            class="text-base text-gray-900 px-3 overflow-hidden z-10 relative leading-6"
          >
            How far can we trust AI.
          </div>
          <a
            routerLink="/blog/august2023"
            class="inline-block mt-4 text-cyan-600 underline hover:text-red-400 m-10"
            >Read more</a
          >
        </div>

        <div class="bg-white shadow-lg text-center rounded-lg select-none">
          <div class="relative">
            <img
              class="object-cover rounded object-center w-auto h-48 lg:h-64"
              alt=""
              src="../assets/videos/Ruto1.png"
            />.
            <div class="absolute bottom-0 flex p-3 bg-gray-100 shadow rounded">
              <div class="mx-4">
                <h1 class="text-base text-red-600">6th December 2022</h1>
              </div>
            </div>
          </div>

          <h1
            class="mt-6 text-base text-cyan-700 mx-10 inline-flex relative duration-150"
          >
            By Lucy Wanjiku
          </h1>

          <hr class="w-auto my-6 text-cyan-800 mx-10" />

          <div class="text-1xl text-gray-900 mx-10">
            H.E President Ruto : Off we set to create 1 million jobs under the
            digital economy in less than five years.
          </div>
          <a
            routerLink="/blog/december2022"
            class="inline-block mt-4 text-cyan-600 underline hover:text-red-400 m-10 select-none"
            >Read more</a
          >
        </div>
        <div class="bg-white shadow-lg text-center rounded-lg">
          <div class="relative">
            <img
              class="object-cover rounded object-center w-auto h-48 lg:h-64"
              alt=""
              src="../assets/videos/sept26.jpeg"
            />.
            <div class="absolute bottom-0 flex p-3 bg-gray-100 shadow rounded">
              <div class="mx-4">
                <h1 class="text-base text-red-600">26th September 2023</h1>
              </div>
            </div>
          </div>

          <h1
            class="mt-6 text-base text-cyan-700 mx-10 inline-flex relative duration-150"
          >
            By Steve Kamoni
          </h1>

          <hr class="w-auto my-6 text-cyan-800 mx-10" />

          <p
            class="text-base text-gray-900 px-3 overflow-hidden z-10 relative leading-6"
          >
            The Evolution of Artificial Intelligence: From Alan Turing to
            ChatGPT 4.
          </p>
          <a
            routerLink="/blog/september2023"
            class="inline-block mt-4 text-cyan-600 underline hover:text-red-400 m-10"
            >Read more</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ====== Brands Section End -->
<section class="corousel py-16 my-4">
  <div class="image-slider">
    <div class="image-slider-track">
      <div class="slide">
        <img src="../../../../../assets/videos/ACFAT.png" alt="" />
      </div>
      <div class="slide">
        <img src="../../../../../assets/videos/AFRICAAI.png" alt="" />
      </div>
      <div class="slide">
        <img src="../../../../../assets/videos/konza.png" alt="" />
      </div>
      <div class="slide">
        <img src="../../../../../assets/videos/TVETA.png" alt="" />
      </div>
      <div class="slide">
        <img src="../../../../../assets/videos/RockBM.png" alt="" />
      </div>
      <div class="slide">
        <img src="../../../../../assets/videos/ICTAUTHORITY.png" alt="" />
      </div>
      <div class="slide">
        <img src="../../../../../assets/videos/ACFAT.png" alt="" />
      </div>
      <div class="slide">
        <img src="../../../../../assets/videos/AFRICAAI.png" alt="" />
      </div>
      <div class="slide">
        <img src="../../../../../assets/videos/konza.png" alt="" />
      </div>
      <div class="slide">
        <img src="../../../../../assets/videos/TVETA.png" alt="" />
      </div>
      <div class="slide">
        <img src="../../../../../assets/videos/RockBM.png" alt="" />
      </div>
      <div class="slide">
        <img src="../../../../../assets/videos/ICTAUTHORITY.png" alt="" />
      </div>
    </div>
  </div>
</section>
