<!--header section-->
<section class="bg-gray-900">
  <div class="max-w-full mx-auto px-4 md:px-8">
    <div
      class="w-full h-[50vh] md:h-[75vh] relative bg-[url('https://res.cloudinary.com/dpfcle0os/image/upload/v1706975520/samples/Lish-website/annotation33_rfl7g2.jpg')] bg-no-repeat bg-cover bg-center rounded-2xl"
    >
      <div class="absolute inset-0 bg-gray-900 bg-opacity-50 rounded-2xl">
        <div class="absolute top-12 sm:top-1/2 p-6 md:p-8 lg:p-12">
          <h1 class="text-3xl md:text-5xl font-semibold text-white max-w-3xl">
            Unleash Innovation: <br> <span class="bg-gradient-to-r from-teal-200 to-blue-700 bg-clip-text text-transparent"> AI & ML Training</span>  with Lish AI Labs
          </h1>
          <p class="text-gray-300 py-3 md:text-xl text-lg max-w-3xl">
            Lish AI Labs provides training in AI & Machine Learning through our
            well experienced and trained supervisors.
        </div>
      </div>
    </div>
  </div>
</section>
