<!--header section-->
<div
  class="relative overflow-hidden bg-white mt-8 bg-gradient-to-r from-grey-500 to-transparent bg-slate-950"
  style="
    background-image: url(https://res.cloudinary.com/dpfcle0os/image/upload/v1706975520/samples/Lish-website/annotation33_rfl7g2.jpg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
  "
>
  <!-- Overlay div for creating the overlay effect -->
  <div class="h-screen flex items-center justify-items-start relative">
    <div
      class="absolute inset-0 px-4 sm:static flex items-center justify-center"
    >
      <div class="sm:max-w-lg lg:px-16 text-center">
        <h1
          class="font text-4xl font-semibold text-white text-2xl md:font-bold"
        >
          Image Annotation <br />
          and Labeling
        </h1>
        <p class="text-xl text-thin text-white md:text-2xl">
          Customized image annotation services for various data analysis
          processes.
        </p>
      </div>
    </div>
  </div>
  <!-- End of overlay div -->
</div>
