<!--header section-->
<div
      class="bg-[url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDvvPRh0iDmuKAhF45jdyWmZeJ6FAhUuJpmA&s')] bg-no-repeat bg-center bg-cover w-[98%] flex items-end lg:max-w-7xl mt-5 h-[45vh] lg:h-[75vh] mx-auto bg-slate-600"
    >
      <div class="w-full p-5 flex flex-col lg:w-3/4">
        <p
          class="text-2xl font-bold text-white tracking-tighter mb-5 md:text-5xl"
        >
          Unleash Your Innovations At<br />

          Lish AI Labs Through.
        </p>

        <p
          class="text-justify text-white tracking-tighter sm:text-xl lg:text-2xl mb-5"
        >
          AI and Machine Learning training through experienced supervisors,
          helping trainees become a skilled taskforce. Employment after training
          of taskers. This has helped bring more and more Jobs from Kenya and
          beyond.
        </p>
      </div>
    </div>
