<div class="bg-gray-900 py-24 sm:py-32 lg:py-40">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="sm:text-center">
      <p
        class="mt-16 text-3xl font-bold tracking-tight text-gray-100 sm:text-4xl"
      >
        HOW FAR CAN WE TRUST AI
      </p>
      <h2 class="mt-2 text-lg font-semibold leading-8 text-indigo-300">
        <img
          src="../../../../../../assets/videos/Daina.jpeg"
          alt="avatar"
          class="mx-auto mt-6 max-w-2xl text-lg leading-8 hidden object-cover w-14 h-14 rounded-full sm:block"
        />
        by Daina Mueni.
      </h2>
      <p class="mx-auto mt-6 max-w-2xl text-lg leading-8 text-gray-300">
        5th September 2023
      </p>
    </div>
  </div>
</div>
<!-- blog content -->
<div class="max-w-screen-xl mx-auto px-5 bg-white min-h-sceen mb-16">
  <div class="flex flex-col items-center">
    <div class="grid divide-y divide-neutral-200 max-w-3xl mx-auto mt-8">
      <p class="text-base mb-4 text-center">
        Artificial intelligence is the ability of machines to perform tasks that
        are typically associated with human intelligence, such as learning and
        problem-solving. It encompasses a wide range of techniques and
        technologies that enable computers and machines to perform tasks that
        typically require human intelligence.
        <br /><br />The first generation of AI focused on symbolic AI, which
        used symbolic logic and rule-based systems to mimic human reasoning.
        Researchers believed that human-level intelligence could be achieved by
        explicitly programming knowledge and rules into computers. The programs
        were limited in capabilities and often failed to handle real-world
        complexity. The next period saw the development of expert systems, which
        were rule-based AI programs designed to solve specific problems by
        encoding expert knowledge and emerging of machine learning techniques.
        The following era saw the rise of machine learning as a dominant
        paradigm in AI. Neural networks, particularly backpropagation-based deep
        neural networks, gained popularity.AI systems began to excel in tasks
        such as speech recognition, image classification, and game playing.
        <img
          src="../../../../../../assets/videos/safetygif.gif"
          alt="image"
          class="h-48 lg:h-72 lg:mx-24 w-auto mt-5 mb-5"
        />
        Over the years since its realization, AI has achieved remarkable results
        in various applications, including natural language processing, computer
        vision, image and video classification and autonomous vehicles. It is a
        rapidly evolving field, and its future development will likely involve
        continued breakthroughs in algorithms, hardware, and interdisciplinary
        research, pushing the boundaries of what AI systems can achieve. AI has
        stood to be reliable and efficient by ensuring diverse and comprehensive
        datasets with quality and representativeness of the data during data
        training. Through robustness and testing whereby AI undergo rigorous
        testing and validation to ensure safety including testing rare and
        unexpected scenarios to uncover potential issues has stood uniquely for
        AI to be part and passive of us humans.
        <img
          src="../../../../../../assets/videos/deepfake.gif"
          alt="image"
          class="h-48 lg:h-72 w-auto mt-5 mb-5 lg:mx-24"
        />
        A deep consideration to how AI has stood out to our generation in
        various fields e.g <br />(a) In healthcare AI is increasingly being used
        for tasks like medical image analysis (e.g., X-rays, MRIs), drug
        discovery, and patient data analysis as well as assisting in diagnosing
        diseases and predicting patient outcomes. <br />(b) In financial
        services, AI is used for fraud detection, algorithmic trading, risk
        assessment, and customer service in the finance industry. It can analyze
        vast amounts of financial data quickly and accurately. <br />(c) In
        space exploration, AI is used in space missions for autonomous
        navigation, data analysis, and decision-making. It enables spacecraft to
        operate in remote and challenging environments. <br />(d) In
        Manufacturing, AI-driven robots and automation systems improve
        efficiency and precision in manufacturing processes. They can handle
        repetitive tasks and quality control. <br />(e) For quality control and
        inspection in manufacturing and production, AI can identify defects and
        ensure product quality with high accuracy. It can also monitor equipment
        health for predictive maintenance. <br />(f) In energy efficiency, AI is
        used to optimize energy consumption in buildings, industries, and
        transportation, leading to cost savings and reduced environmental
        impact. Etc. <br />In regards to the above context, AI has proven to be
        reliable and efficient in extensive aspects of life and production.
        Feeding our systems with the right, tested and quality information
        assures has of positive and reliable performance when considering AIs.
        With AI our productions are accurate. AI developers and organizations
        have made efforts to increase transparency by providing information
        about how AI systems work, including their algorithms and data sources.
        Transparency builds user confidence by allowing users to understand the
        decision-making processes of AI systems. Sharing case studies and use
        cases that showcase AI's positive impact in solving real-world problems
        helps pass across the practical benefits and efficiency of AI while the
        real-world successes and tangible benefits of AI applications in fields
        like healthcare, transportation, and finance has helps users recognize
        the value and reliability of AI.<br /><br /><span class="items-center">
          AI is a safe place if we will feed our systems effectively.</span
        >
      </p>
    </div>
  </div>
</div>
