<!--hero section-->
<div
  class="relative overflow-auto bg-white mt-8 bg-auto"
  style="
    background-image: url(./assets/videos/tasks.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  "
>
  <div class="h-screen flex items-center justify-items-center">
    <div class="relative max-w-7xl px-4 sm:static sm:px-6">
      <div class="sm:max-w-lg">
        <h1
          class="font text-4xl font-bold tracking-tight text-white sm:text-6xl"
        >
          Training the workforce
        </h1>
      </div>
    </div>
  </div>
</div>

<!--comapny mission statement-->
<div class="bg-gray-900 py-24 sm:py-32 lg:py-40">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="p- text-gray-100">
      <h1
        class="mb-8 text-centerfont-bold px-4 text-5xl font-extralight text-blue-200"
      >
        This is - what we do :
      </h1>
      <h2 class="px-8 text-2xl text-center text-blue-200">
        A well detailed Training schedule is adhered to for applicants to get
        comfortable with the AI tasks. Trainers begin the training with an open
        mind,to ensure everyone is involved and understands.
        <!-- Lish AI Labs offers
        employment to youths after training, reducing the rate of youth
        unemployment and exposing them to the available opportunities in the
        digital world -->
      </h2>
      <h1 class="mt-20 px-4 text-3xl font-extralight text-red-300">
        TRAINING PROCESS
      </h1>

      <div class="mt-10 max-w-lg px-4 sm:mx-auto md:max-w-none">
        <ul class="grid place-content-center sm:grid-cols-2 gap-8">
          <li class="flex">
            <div>
              <div class="text-xl font-bold text-pink-400">Step One</div>
              <p class="px-4 text-2xl font-extralight text-pink-200">
                Registration Signing Up to Lish AI Labs Portal,Filling out the
                application form and submit necessary documents to apply. (ie
                curriculum vitae,photocopy of national identity card)
              </p>
            </div>
          </li>
          <li class="flex">
            <div class="px-4 text-5xl font-extralight text-gray-100"></div>
            <div>
              <div class="text-xl font-bold text-gray-100"></div>
              <p class="max-w-xs py-2 text-sm text-gray-100"></p>
            </div>
          </li>
          <li class="flex">
            <div class="px-4 text-5xl font-extralight text-gray-100"></div>
            <div>
              <div class="text-xl font-bold text-gray-100"></div>
              <p class="max-w-xs py-2 text-sm text-gray-100"></p>
            </div>
          </li>
          <li class="flex">
            <div>
              <div class="text-xl font-bold text-orange-400">Step Two</div>
              <p class="px-4 text-2xl font-extralight text-orange-200">
                Assessment Information and documents will be viewed while one
                undergoes interview'
              </p>
            </div>
          </li>
          <li class="flex">
            <div class="px-4 text-5xl font-extralight text-gray-100"></div>
            <div>
              <div class="text-xl font-bold text-gray-100"></div>
              <p class="max-w-xs py-2 text-sm text-gray-100"></p>
            </div>
          </li>
          <li class="flex">
            <div class="px-4 text-5xl font-extralight text-gray-100"></div>
            <div>
              <div class="text-xl font-bold text-gray-100"></div>
              <p class="max-w-xs py-2 text-sm text-gray-100"></p>
            </div>
          </li>
          <li class="flex">
            <div>
              <div class="text-xl font-bold text-green-400">Step Three</div>
              <p class="px-4 text-2xl font-extralight text-green-200">
                Orientation Learning more about Lish AI labs,what is done their
                Mission and Vision. Briefing on AI and Machine Learning.
              </p>
            </div>
          </li>
          <li class="flex">
            <div class="px-4 text-5xl font-extralight text-gray-100"></div>
            <div>
              <div class="text-xl font-bold text-gray-100"></div>
              <p class="max-w-xs py-2 text-sm text-gray-100"></p>
            </div>
          </li>
          <li class="flex">
            <div class="px-4 text-5xl font-extralight text-gray-100"></div>
            <div>
              <div class="text-xl font-bold text-gray-100"></div>
              <p class="max-w-xs py-2 text-sm text-gray-100"></p>
            </div>
          </li>
          <li class="flex">
            <div>
              <div class="text-xl font-bold text-purple-400">Step Four</div>
              <p class="px-4 text-2xl font-extralight text-purple-200">
                Training Get offered a hands on training by well-experienced and
                trained supervisors. They help create a form`idable task force
                for the work to be done.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- timeline component -->
<div class="w-10/12 md:w-7/12 lg:6/12 mx-auto relative py-20">
  <h1 class="text-3xl text-center font-bold text-blue-500">
    Week 1: ONBOARDING PROCESS IN LISH AI LABS
  </h1>
  <div class="border-l-2 mt-10">
    <!-- Card 1 -->
    <div
      class="transform transition cursor-pointer hover:-translate-y-2 ml-10 relative flex items-center px-6 py-4 bg-blue-600 text-white rounded mb-10 flex-col md:flex-row space-y-4 md:space-y-0"
    >
      <!-- Dot Follwing the Left Vertical Line -->
      <div
        class="w-5 h-5 bg-blue-600 absolute -left-10 transform -translate-x-2/4 rounded-full z-10 mt-2 md:mt-0"
      ></div>

      <!-- Line that connecting the box with the vertical line -->
      <div class="w-10 h-1 bg-blue-300 absolute -left-10 z-0"></div>

      <!-- Content that showing in the box -->
      <div class="flex-auto">
        <h1 class="text-lg font-bold">Day 1</h1>
        <h3>
          Online signup,one on one interviews, orientation and overview of lish
          AI labs<br />
          1. Online signup of individual details in the LISH AI platform.<br />2.
          Filtering and onboarding of successful cloud workers.<br />3.
          Introducing cloud workers to LISH AI LABS' mission, vision, and
          values.<br />4. Provide an overview of the LISH structure and
          culture.<br />5. Orientation of LISH AI procedures, policies, and Lab
          Rules
        </h3>
      </div>
    </div>

    <!-- Card 2 -->
    <div
      class="transform transition cursor-pointer hover:-translate-y-2 ml-10 relative flex items-center px-6 py-4 bg-pink-600 text-white rounded mb-10 flex-col md:flex-row space-y-4 md:space-y-0"
    >
      <!-- Dot Follwing the Left Vertical Line -->
      <div
        class="w-5 h-5 bg-pink-600 absolute -left-10 transform -translate-x-2/4 rounded-full z-10 mt-2 md:mt-0"
      ></div>

      <!-- Line that connecting the box with the vertical line -->
      <div class="w-10 h-1 bg-pink-300 absolute -left-10 z-0"></div>

      <!-- Content that showing in the box -->
      <div class="flex-auto">
        <h1 class="text-lg font-bold">Day 2-3</h1>
        <h3>
          Overview of the Artificial Intelligence field and LISH AI labs as a
          company<br />1. Overview of the Business Process Outsourcing(BPO) and
          AI field.<br />2. Talk through the company’s competitive prospects and
          position of LISH AI labs in the industry.<br />3. Discuss and analyze
          relevant industry trends and challenges
        </h3>
      </div>
    </div>

    <!-- Card 3 -->
    <div
      class="transform transition cursor-pointer hover:-translate-y-2 ml-10 relative flex items-center px-6 py-4 bg-green-600 text-white rounded mb-10 flex-col md:flex-row space-y-4 md:space-y-0"
    >
      <!-- Dot Follwing the Left Vertical Line -->
      <div
        class="w-5 h-5 bg-green-600 absolute -left-10 transform -translate-x-2/4 rounded-full z-10 mt-2 md:mt-0"
      ></div>

      <!-- Line that connecting the box with the vertical line -->
      <div class="w-10 h-1 bg-green-300 absolute -left-10 z-0"></div>

      <!-- Content that showing in the box -->
      <div class="flex-auto">
        <h1 class="text-lg font-bold">Day 4-5</h1>
        <h3>
          Overview of the Training ie services LISH AI labs offers to the
          clients<br />1. Introducing cloud workers to the company’s services ie
          data annotation, categorization, data scraping 3d annotation.<br />2.
          Discuss key features and benefits of each service to the cloud
          workers.<br />3. Discuss how these services help solve clients'
          problems and the importance of providing quality work on time.
        </h3>
      </div>
    </div>
  </div>
  <h1 class="text-3xl text-center font-bold text-blue-500">
    Week 2: Skill Building and Team Collaboration
  </h1>
  <div class="border-l-2 mt-10">
    <!-- Card 4 -->
    <div
      class="transform transition cursor-pointer hover:-translate-y-2 ml-10 relative flex items-center px-6 py-4 bg-purple-600 text-white rounded mb-10 flex-col md:flex-row space-y-4 md:space-y-0"
    >
      <!-- Dot Follwing the Left Vertical Line -->
      <div
        class="w-5 h-5 bg-purple-600 absolute -left-10 transform -translate-x-2/4 rounded-full z-10 mt-2 md:mt-0"
      ></div>

      <!-- Line that connecting the box with the vertical line -->
      <div class="w-10 h-1 bg-purple-300 absolute -left-10 z-0"></div>

      <!-- Content that showing in the box -->
      <div class="flex-auto">
        <h1 class="text-lg font-bold">Day 6-7</h1>
        <h3>
          Technical Training<br />1. Provide technical training to develop cloud
          workers’ proficiency in the tools and software they will use in their
          role either as agents or quality analyst.<br />2. Go through any
          relevant programming languages or software applications that are
          commonly used in the AI industry.
        </h3>
      </div>
    </div>
    <!-- Card 5 -->
    <div
      class="transform transition cursor-pointer hover:-translate-y-2 ml-10 relative flex items-center px-6 py-4 bg-yellow-600 text-white rounded mb-10 flex-col md:flex-row"
    >
      <!-- Dot Follwing the Left Vertical Line -->
      <div
        class="w-5 h-5 bg-yellow-600 absolute -left-10 transform -translate-x-2/4 rounded-full z-10 -mt-2 md:mt-0"
      ></div>

      <!-- Line that connecting the box with the vertical line -->
      <div class="w-10 h-1 bg-yellow-300 absolute -left-10 z-0"></div>

      <!-- Content that showing in the box -->
      <div class="flex-auto">
        <h1 class="text-lg font-bold">Day 8-10</h1>
        <h3>
          Soft Skills and Customer Service<br />
          1. Provide soft skills training such as effective communication,
          active listening, and problem-solving techniques to the cloud
          workers<br />
          2. Talk about Lish AI customer service best practices and Client
          expectations. Provide case studies to show the importance of excellent
          customer service in terms of quality, output/target, and time
          management.
        </h3>
      </div>
    </div>
  </div>
  <h1 class="text-3xl text-center font-bold text-blue-500">
    Week 3: Advanced Training and Job-Specific Skills
  </h1>
  <div class="border-l-2 mt-10">
    <!-- Card 1 -->
    <div
      class="transform transition cursor-pointer hover:-translate-y-2 ml-10 relative flex items-center px-6 py-4 bg-blue-900 text-white rounded mb-10 flex-col md:flex-row space-y-4 md:space-y-0"
    >
      <!-- Dot Follwing the Left Vertical Line -->
      <div
        class="w-5 h-5 bg-blue-900 absolute -left-10 transform -translate-x-2/4 rounded-full z-10 mt-2 md:mt-0"
      ></div>

      <!-- Line that connecting the box with the vertical line -->
      <div class="w-10 h-1 bg-blue-300 absolute -left-10 z-0"></div>

      <!-- Content that showing in the box -->
      <div class="flex-auto">
        <h1 class="text-lg font-bold">Day 11-12</h1>
        <h3>
          Job-Specific Training<br />
          1. Providing job-specific training to cloud workers.<br />
          2. Go through all technical projects LISH AI labs receive from several
          clients.<br />
          3. Go over job responsibilities and expectations.<br />
          4. provides hands-on training to practice skills and techniques ie
          dummy tasks/scenarios.
        </h3>
      </div>
    </div>

    <!-- Card 2 -->
    <div
      class="transform transition cursor-pointer hover:-translate-y-2 ml-10 relative flex items-center px-6 py-4 bg-pink-800 text-white rounded mb-10 flex-col md:flex-row space-y-4 md:space-y-0"
    >
      <!-- Dot Follwing the Left Vertical Line -->
      <div
        class="w-5 h-5 bg-pink-800 absolute -left-10 transform -translate-x-2/4 rounded-full z-10 mt-2 md:mt-0"
      ></div>

      <!-- Line that connecting the box with the vertical line -->
      <div class="w-10 h-1 bg-pink-300 absolute -left-10 z-0"></div>

      <!-- Content that showing in the box -->
      <div class="flex-auto">
        <h1 class="text-lg font-bold">Day 13-15</h1>
        <h3>
          Process and Quality Control Training<br />
          1. Discuss the company's quality control measures and how they impact
          the business/company.<br />
          2. Provide training on the company's processes and procedures to
          ensure cloud workers understand the expectations and requirements for
          their role and what it takes to earn some good money and promotion.
        </h3>
      </div>
    </div>

    <!-- Card 3 -->
    <div
      class="transform transition cursor-pointer hover:-translate-y-2 ml-10 relative flex items-center px-6 py-4 bg-red-600 text-white rounded mb-10 flex-col md:flex-row space-y-4 md:space-y-0"
    >
      <!-- Dot Follwing the Left Vertical Line -->
      <div
        class="w-5 h-5 bg-red-600 absolute -left-10 transform -translate-x-2/4 rounded-full z-10 mt-2 md:mt-0"
      ></div>

      <!-- Line that connecting the box with the vertical line -->
      <div class="w-10 h-1 bg-red-300 absolute -left-10 z-0"></div>

      <!-- Content that showing in the box -->
      <div class="flex-auto">
        <h1 class="text-lg font-bold">Day 16-17</h1>
        <h3>
          Payments, Compliance, and Ethics.<br />
          1. Discuss how cloud workers will receive their payments, the mode of
          payments, and factors affecting their payment per week.<br />
          2. Discuss compliance requirements such as data privacy and security,
          anti-money laundering, and other regulatory structures.<br />
          3. Discuss ethical considerations and expectations for the company and
          its employees.
        </h3>
      </div>
    </div>
    <!-- Card 4 -->
    <div
      class="transform transition cursor-pointer hover:-translate-y-2 ml-10 relative flex items-center px-6 py-4 bg-green-600 text-white rounded mb-10 flex-col md:flex-row space-y-4 md:space-y-0"
    >
      <!-- Dot Follwing the Left Vertical Line -->
      <div
        class="w-5 h-5 bg-green-600 absolute -left-10 transform -translate-x-2/4 rounded-full z-10 mt-2 md:mt-0"
      ></div>

      <!-- Line that connecting the box with the vertical line -->
      <div class="w-10 h-1 bg-green-300 absolute -left-10 z-0"></div>

      <!-- Content that showing in the box -->
      <div class="flex-auto">
        <h1 class="text-lg font-bold">Day 18-19</h1>
        <h3>
          Team Building.<br />
          1. Conduct team-building activities to encourage communication and
          collaboration among cloud workers through group discussion.<br />
          2. Provide opportunities for the cloud worker to get to know one
          another and build relationships.
        </h3>
      </div>
    </div>
    <!-- Card 5 -->
    <div
      class="transform transition cursor-pointer hover:-translate-y-2 ml-10 relative flex items-center px-6 py-4 bg-yellow-500 text-white rounded mb-10 flex-col md:flex-row space-y-4 md:space-y-0"
    >
      <!-- Dot Follwing the Left Vertical Line -->
      <div
        class="w-5 h-5 bg-yellow-500 absolute -left-10 transform -translate-x-2/4 rounded-full z-10 mt-2 md:mt-0"
      ></div>

      <!-- Line that connecting the box with the vertical line -->
      <div class="w-10 h-1 bg-yellow-100 absolute -left-10 z-0"></div>

      <!-- Content that showing in the box -->
      <div class="flex-auto">
        <h1 class="text-lg font-bold">Day 20-21</h1>
        <h3>
          Finalization, Account Creation and Feedback.<br />
          1. provide a final review of the training program and answer any
          questions that remain.<br />
          2. Provide opportunities for the cloud workers to offer feedback on
          the onboarding and training process.<br />
          3. Discuss ongoing training and development opportunities available to
          employees. Account creation for practice tasks.
        </h3>
      </div>
    </div>
  </div>
</div>

<!--fags sec-->
<div class="max-w-screen-xl mx-auto px-5 bg-white min-h-sceen mb-16">
  <div class="flex flex-col items-center">
    <h2 class="font-bold text-5xl mt-5 tracking-tight">FAQ</h2>
    <p class="text-neutral-500 text-xl mt-3">Frequenty asked questions</p>
  </div>
  <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
    <div class="py-5">
      <details class="group">
        <summary
          class="flex justify-between items-center font-medium cursor-pointer list-none"
        >
          <span>How long does training take?</span>
          <span class="transition group-open:rotate-180">
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
          Training at Lish AI LABS typically takes approximately 3 months.
          During this period, you'll undergo comprehensive instruction in data
          labeling methodologies, annotation tools, and quality assurance
          processes, ensuring you gain the necessary expertise for the job.
        </p>
      </details>
    </div>
    <div class="py-5">
      <details class="group">
        <summary
          class="flex justify-between items-center font-medium cursor-pointer list-none"
        >
          <span>
            Are there any specific qualifications required for training?</span
          >
          <span class="transition group-open:rotate-180">
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
          No specific qualifications are required; anyone with an interest in
          data labeling and AI can apply and participate in the training
        </p>
      </details>
    </div>
    <div class="py-5">
      <details class="group">
        <summary
          class="flex justify-between items-center font-medium cursor-pointer list-none"
        >
          <span>
            What skills will I acquire after participating in the training
            process?</span
          >
          <span class="transition group-open:rotate-180">
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
          After participating in the training process at Lish AI LABS, you will
          acquire valuable skills, including data labeling expertise,
          understanding of annotation guidelines, proficiency in various
          annotation tools, quality control techniques, and domain-specific
          knowledge in AI and machine learning applications
        </p>
      </details>
    </div>
    <div class="py-5">
      <details class="group">
        <summary
          class="flex justify-between items-center font-medium cursor-pointer list-none"
        >
          <span> Will I get a job immediately after the training?</span>
          <span class="transition group-open:rotate-180">
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
          Upon completion of training an evaluation is conducted following which
          positions are offered based on evaluation results.
        </p>
      </details>
    </div>

    <div class="py-5">
      <details class="group">
        <summary
          class="flex justify-between items-center font-medium cursor-pointer list-none"
        >
          <span>
            Do you provide any certification upon completion of the training
            program?
          </span>
          <span class="transition group-open:rotate-180">
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
          Yes, participants receive a certification of completion, validating
          their acquired skills in data labeling and annotation.
        </p>
      </details>
    </div>
    <div class="py-5">
      <details class="group">
        <summary
          class="flex justify-between items-center font-medium cursor-pointer list-none"
        >
          <span>
            Are there any mentorship or guidance sessions during the training to
            address questions and challenges?
          </span>
          <span class="transition group-open:rotate-180">
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
          Yes, we provide mentorship and regular feedback sessions to support
          trainees throughout the learning process.
        </p>
      </details>
    </div>
  </div>
</div>
