<!--header section-->
<div class="relative overflow-hidden bg-white mt-8 bg-gradient-to-r from-blue-500 to-transparent bg-gray-400" style="background-image: url(./assets/videos/about_us.jpg); background-size: cover; background-blend-mode: multiply;">
    <div class="lg:pt-60 lg:pb-60">
        <div class="relative mx-auto max-w-7xl px-4 sm:static sm:px-6 lg:px-8">
            <div class="sm:max-w-lg">  
                <h1 class="font text-4xl font-bold tracking-tight text-gray-200 sm:text-8xl">Who we are</h1>  
            </div>
        </div>
    </div>
</div>








<!-- ====== Brands Section Start -->
<section class="bg-white py-20 lg:py-[120px]">
    <div class="container mx-auto">
      <div class="-mx-4 flex flex-wrap">
        <div class="w-full px-4">
          <div class="flex flex-wrap items-center justify-center">
            <a
              href="javascript:void(0)"
              class="mx-4 flex w-[150px] items-center justify-center py-5 2xl:w-[180px]"
            >
              <img
                src="https://cdn.tailgrids.com/2.0/image/assets/images/brands/graygrids.svg"
                alt="image"
                class="h-10 w-full"
              />
            </a>
            <a
              href="javascript:void(0)"
              class="mx-4 flex w-[150px] items-center justify-center py-5 2xl:w-[180px]"
            >
              <img
                src="https://cdn.tailgrids.com/2.0/image/assets/images/brands/lineicons.svg"
                alt="image"
                class="h-10 w-full"
              />
            </a>
            <a
              href="javascript:void(0)"
              class="mx-4 flex w-[150px] items-center justify-center py-5 2xl:w-[180px]"
            >
              <img
                src="https://cdn.tailgrids.com/2.0/image/assets/images/brands/uideck.svg"
                alt="image"
                class="h-10 w-full"
              />
            </a>
            <a
              href="javascript:void(0)"
              class="mx-4 flex w-[150px] items-center justify-center py-5 2xl:w-[180px]"
            >
              <img
                src="https://cdn.tailgrids.com/2.0/image/assets/images/brands/ayroui.svg"
                alt="image"
                class="h-10 w-full"
              />
            </a>
            <a
              href="javascript:void(0)"
              class="mx-4 flex w-[150px] items-center justify-center py-5 2xl:w-[180px]"
            >
              <img
                src="https://cdn.tailgrids.com/2.0/image/assets/images/brands/ayroui.svg"
                alt="image"
                class="h-10 w-full"
              />
            </a>
            <a
              href="javascript:void(0)"
              class="mx-4 flex w-[150px] items-center justify-center py-5 2xl:w-[180px]"
            >
              <img
                src="https://cdn.tailgrids.com/2.0/image/assets/images/brands/ayroui.svg"
                alt="image"
                class="h-10 w-full"
              />
            </a>
            <a
              href="javascript:void(0)"
              class="mx-4 flex w-[150px] items-center justify-center py-5 2xl:w-[180px]"
            >
              <img
                src="https://cdn.tailgrids.com/2.0/image/assets/images/brands/ayroui.svg"
                alt="image"
                class="h-10 w-full"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== Brands Section End -->
  