<!--hero section-->
<div class="relative overflow-hidden bg-white mt-8 bg-gradient-to-r from-grey-500 to-transparent bg-gray-400" style="
    background-image: url(./assets/videos/about_us.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  ">
  <div class="lg:pt-60 lg:pb-60">
    <div class="relative mx-auto max-w-7xl px-4 sm:static sm:px-6 lg:px-8">
      <div class="sm:max-w-lg">
        <h1 class="font text-4xl font-bold tracking-tight text-gray-200 sm:text-8xl">
          Who are we
        </h1>
      </div>
    </div>
  </div>
</div>

<!--summary section-->
<div class="overflow-hidden bg-gray-900 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-y-16 gap-x-8 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
      <div class="lg:pr-8 lg:pt-4">
        <div class="lg:max-w-lg">
          <h2 class="text-lg font-semibold leading-8 tracking-tight text-indigo-100">
            Where we want to be . . .
          </h2>
          <p class="mt-2 text-3xl font-bold tracking-tight text-gray-100 sm:text-4xl">
            Vision
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-100">
            To be the leading digital center for youth skill development in AI & Machine learning, empowering young
            people to take advantage of the available digital opportunities, leading to a prosperous & sustainable
            future.
          </p>
          <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
            <div class="relative pl-9">
              <dt class="inline font-semibold text-gray-100">
                <!-- Heroicon name: mini/lock-closed -->
                Youth empowerment :
              </dt>
              <dd class="inline text-gray-400">
                Equipping the youth with digital skills they need to excel in the field of AI and Machine learning

              </dd>
            </div>

            <div class="relative pl-9">
              <dt class="inline font-semibold text-gray-100">
                <!-- Heroicon name: mini/lock-closed -->
                Technological advancement :

              </dt>
              <dd class="inline text-gray-400">
                Leveraging technology to come up with innovative ways of making money online

              </dd>
            </div>
            <div class="relative pl-9">
              <dt class="inline font-semibold text-gray-100">
                <!-- Heroicon name: mini/lock-closed -->
                Community :

              </dt>
              <dd class="inline text-gray-400">
                Strengthening local communities by offering them job opportunities to improve their social status

              </dd>
            </div>

            <div class="relative pl-9">
              <dt class="inline font-semibold text-gray-100">
                <!-- Heroicon name: mini/lock-closed -->
                Partnership :

              </dt>
              <dd class="inline text-gray-400">
                Creating a network with different organizations for sharing knowledge and expertise to help us achieve
                our mission

              </dd>
            </div>
          </dl>
        </div>
      </div>
      <!-- <img
        src="https://tailwindui.com/img/component-images/dark-project-app-screenshot.png"
        alt="Product screenshot"
        class="w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem] md:-ml-4 lg:-ml-0"
        width="2432"
        height="1442"
      /> -->
      <div class="lg:pr-8 lg:pt-4">
        <div class="lg:max-w-lg">
          <h2 class="text-lg font-semibold leading-8 tracking-tight text-indigo-100">
            What we do . . .

          </h2>
          <p class="mt-2 text-3xl font-bold tracking-tight text-gray-100 sm:text-4xl">
            Mission
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-100">
            To provide youth with necessary skills in AI and Machine learning, employment opportunities in the digital
            space while fostering a solution-oriented mindset for sustainable development.
          </p>
          <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
            <div class="relative pl-9">
              <dt class="inline font-semibold text-gray-100">
                <!-- Heroicon name: mini/lock-closed -->
                Changing Lives :

              </dt>
              <dd class="inline text-gray-400">
                We are committed to transforming the lives of young people by giving them a platform to participate in
                the digital economy
              </dd>
            </div>

            <div class="relative pl-9">
              <dt class="inline font-semibold text-gray-100">
                <!-- Heroicon name: mini/lock-closed -->
                Employment Opportunities :

              </dt>
              <dd class="inline text-gray-400">
                Not only do we offer train the youth, but also provide them with online working opportunities where they
                get paid for the work they do.

              </dd>
            </div>

            <div class="relative pl-9">
              <dt class="inline font-semibold text-gray-100">
                <!-- Heroicon name: mini/lock-closed -->
                Cultivating a Solution-Oriented Mindset :

              </dt>
              <dd class="inline text-gray-400">
                We nurture the youth to become innovative thinkers to solve real-world problems using technology.

              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>

<!--comapny mission statement-->
<div class="bg-white py-24 sm:py-32 lg:py-40">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="p-4 text-gray-600">
      <h1 class="mb-8 text-center text-3xl font-bold text-indigo-900">
        This is - what we do :
      </h1>
      <div class="mt-20 max-w-lg sm:mx-auto md:max-w-none">
        <ul class="grid place-content-center sm:grid-cols-2 gap-8">
          <li class="flex">
            <div class="px-4 text-5xl font-extralight text-indigo-700">01.</div>
            <div>
              <div class="text-xl font-bold text-indigo-800">Research</div>
              <p class="max-w-xs py-2 text-sm text-indigo-900">
                We love numbers! We collect data and insights, analyze them then
                take the time to learn about your objectives, ask the right
                questions to understand your business.
              </p>
            </div>
          </li>
          <li class="flex">
            <div class="px-4 text-5xl font-extralight text-indigo-700">02.</div>
            <div>
              <div class="text-xl font-bold text-indigo-800">Strategey</div>
              <p class="max-w-xs py-2 text-sm text-indigo-900">
                Solutions are born from proper research, hard work, and strong
                strategy. We build data-driven roadmaps for every project to
                make pave the way to success.
              </p>
            </div>
          </li>
          <li class="flex">
            <div class="px-4 text-5xl font-extralight text-indigo-700">03.</div>
            <div>
              <div class="text-xl font-bold text-indigo-800">Design</div>
              <p class="max-w-xs py-2 text-sm text-indigo-900">
                We design the right solution for your business. We craft
                beautiful, intuitive, and user-friendly interfaces that are easy
                to use and easy to maintain.
              </p>
            </div>
          </li>
          <li class="flex">
            <div class="px-4 text-5xl font-extralight text-indigo-700">04.</div>
            <div>
              <div class="text-xl font-bold text-indigo-800">Development</div>
              <p class="max-w-xs py-2 text-sm text-indigo-900">
                We build the right solution for your business. We craft
                beautiful, intuitive, and user-friendly interfaces that are easy
                to use and easy to maintain.
              </p>
            </div>
          </li>
          <li class="flex">
            <div class="px-4 text-5xl font-extralight text-indigo-700">05.</div>
            <div>
              <div class="text-xl font-bold text-indigo-800">Deployment</div>
              <p class="max-w-xs py-2 text-sm text-indigo-900">
                We build the right solution for your business. We craft
                beautiful, intuitive, and user-friendly interfaces that are easy
                to use and easy to maintain.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--fags sec-->
<div class="max-w-screen-xl mx-auto px-5 bg-white min-h-sceen mb-16">
  <div class="flex flex-col items-center">
    <h2 class="font-bold text-5xl mt-5 tracking-tight">FAQ</h2>
    <p class="text-neutral-500 text-xl mt-3">Frequenty asked questions</p>
  </div>
  <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
    <div class="py-5">
      <details class="group">
        <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
          <span>What types of data do you provide labeling services for?</span>
          <span class="transition group-open:rotate-180">
            <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor"
              stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
          We offer data labeling services for various types of data,
          including text, images, videos, audio, and sensor data.
          Our team is equipped to handle diverse data formats and projects of different scales.
        </p>
      </details>
    </div>
    <div class="py-5">
      <details class="group">
        <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
          <span> How does Lish AI Labs ensure the quality and accuracy of labeled data?</span>
          <span class="transition group-open:rotate-180">
            <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor"
              stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
          Lish AI Labs ensures labeled data quality through rigorous checks by skilled trainers,
          advanced tools, and adherence to industry best practices,
          providing clients with reliable and accurate data.
        </p>
      </details>
    </div>
    <div class="py-5">
      <details class="group">
        <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
          <span> How can I apply for a job at Lish AI Labs?</span>
          <span class="transition group-open:rotate-180">
            <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor"
              stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
          You can apply online by accessing the application form at our website through the "apply here" button
          and forward your cv at info@lishailabs.com
        </p>
      </details>
    </div>
    <div class="py-5">
      <details class="group">
        <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
          <span> How will this benefit me as a Cloudworker?</span>
          <span class="transition group-open:rotate-180">
            <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor"
              stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
          As a cloud worker, Lish AI Labs not only equips you with
          skills in AI and machine learning but also offers you an opportunity to earn, improving your living standards
        </p>
      </details>
    </div>
  </div>
</div>