<!-- Images
<img
  src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975520/samples/Lish-website/ACFAT_h9raqi.png"
  alt=""
/>
<img
  src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975518/samples/Lish-website/AFRICAAI_ua85oo.png"
  alt=""
/>
<img
  src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975522/samples/Lish-website/konza_caf3z5.png"
  alt=""
/>
<img
  src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975519/samples/Lish-website/TVETA_bjmp65.png"
  alt=""
/>
<img
  src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975526/samples/Lish-website/RockBM_ou6cay.png"
  alt=""
/>
<img
  src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975521/samples/Lish-website/ICTAUTHORITY_u9jkvc.png"
  alt=""
/>
 -->

<section class="mx-auto py-20 my-4 max-w-7xl px-4 sm:px-8">
  <div class="">
    <h1 class="text-4xl text-blue-600 text-center font-semibold mb-4">
      Our Partners
    </h1>
  </div>
  <div
    class="logos group relative overflow-hidden whitespace-nowrap py-10 [mask-image:_linear-gradient(to_right,_transparent_0,_white_128px,white_calc(100%-128px),_transparent_100%)]"
  >
    <div
      class="animate-slide-left-infinite group-hover:[animation-play-state:paused] inline-block w-max"
    >
      <!-- Ensure that the images cover entire screen width for a smooth transition -->
      <img
        class="mx-4 inline h-16"
        src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975520/samples/Lish-website/ACFAT_h9raqi.png"
        alt="Transistor"
      />
      <img
        class="mx-4 inline h-16"
        src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975518/samples/Lish-website/AFRICAAI_ua85oo.png"
        alt="Reform"
      />
      <img
        class="mx-4 inline h-16"
        src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975522/samples/Lish-website/konza_caf3z5.png"
        alt="Tuple"
      />
      <img
        class="mx-4 inline h-16"
        src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975519/samples/Lish-website/TVETA_bjmp65.png"
        alt="SavvyCal"
      />
      <img
        class="mx-4 inline h-16"
        src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975526/samples/Lish-website/RockBM_ou6cay.png"
        alt="SavvyCal"
      />
      <img
        class="mx-4 inline h-16"
        src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975521/samples/Lish-website/ICTAUTHORITY_u9jkvc.png"
        alt="SavvyCal"
      />
    </div>

    <!-- Duplicate of the above for infinite effect -->
    <div
      class="animate-slide-left-infinite group-hover:[animation-play-state:paused] inline-block w-max"
    >
      <!-- Ensure that the images cover entire screen width for a smooth transition -->
      <img
        class="mx-4 inline h-16"
        src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975520/samples/Lish-website/ACFAT_h9raqi.png"
        alt="Transistor"
      />
      <img
        class="mx-4 inline h-16"
        src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975518/samples/Lish-website/AFRICAAI_ua85oo.png"
        alt="Reform"
      />
      <img
        class="mx-4 inline h-16"
        src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975522/samples/Lish-website/konza_caf3z5.png"
        alt="Tuple"
      />
      <img
        class="mx-4 inline h-16"
        src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975519/samples/Lish-website/TVETA_bjmp65.png"
        alt="SavvyCal"
      />
      <img
        class="mx-4 inline h-16"
        src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975526/samples/Lish-website/RockBM_ou6cay.png"
        alt="SavvyCal"
      />
      <img
        class="mx-4 inline h-16"
        src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975521/samples/Lish-website/ICTAUTHORITY_u9jkvc.png"
        alt="SavvyCal"
      />
    </div>
  </div>
</section>
<!-- <section class="mx-auto py-20 my-4 max-w-7xl px-4 sm:px-8">
  <div class="">
    <h1 class="text-4xl text-blue-600 text-center font-semibold mb-4">Our Partners</h1>
  </div>
  <div class="flex flex-nowrap overflow-y-auto space-x-12">

    <img
      src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975520/samples/Lish-website/ACFAT_h9raqi.png"
      class="w-32 h-32 object-contain"
      alt=""
    />
    <img
      src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975518/samples/Lish-website/AFRICAAI_ua85oo.png"
      class="w-32 h-32 object-contain"
      alt=""
    />
    <img
      src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975522/samples/Lish-website/konza_caf3z5.png"
      class="w-32 h-32 object-contain"
      alt=""
    />
    <img
      src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975519/samples/Lish-website/TVETA_bjmp65.png"
      class="w-32 h-32 object-contain"
      alt=""
    />
    <img
      src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975526/samples/Lish-website/RockBM_ou6cay.png"
      class="w-32 h-32 object-contain"
      alt=""
    />
    <img
      src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975521/samples/Lish-website/ICTAUTHORITY_u9jkvc.png"
      class="w-32 h-32 object-contain"
      alt=""
    />
    <img
      src="https://lishailabs.com/wp-content/uploads/2024/02/KYEOP-1-1024x477.png"
      class="w-32 h-32 object-contain"
      alt=""
    />
  </div>
</section> -->
