<section class="w-full bg-gray-900 py-10">
  <div class="mx-auto max-w-7xl py-8">
    <!-- <div class="space-y-5">
      <h1
        class="text-center bg-clip-text text-transparent bg-blue-600 font-bold text-4xl sm:text-5xl"
      >
        Services
      </h1>
      <p
        class="text-center text-gray-400 font-semi-bold max-w-3xl mx-auto px-5 text-xl"
      >
        Lish AI Labs offers comprehensive AI and machine learning training,
        employment placement services, design and development, and youth
        empowerment programs in collaboration with Rockbridge Ministries,
        empowering individuals and organizations for success in the digital age.
      </p>
    </div> -->

    <div class="mx-auto px-4 py-16 text-center">
      <!-- Image and Content -->

      <div
        class="grid grid-cols-1 justify-content-center sm:grid-cols-2 bg-gray-800 rounded-2xl"
      >
        <!-- Image -->
        <div class="py-10 px-10 opacity-90 hover:opacity-70">
          <img
            src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975532/samples/Lish-website/robot_waxepm.jpg"
            alt="AI and ML Training"
            class="w-full h-[300px] rounded-2xl border-[2px] border-white"
          />
        </div>
        <!-- Content -->
        <div
          class="py-10 px-10 lg:scroll-px-10 lg:text-gray-50 text-gray-100 text-center lg:text-left mb-10 space-y-10 text-pretty"
        >
          <!-- Heading -->
          <h1 class="text-2xl lg:text-3xl font-normal text-gray-300 uppercase">
            AI and ML Training
          </h1>
          <p class="text-gray-400 text-lg">
            Lish AI Labs provides comprehensive AI and machine learning
            training, job placement services, design and development, and youth
            empowerment programs. Our courses, suitable for all levels, blend
            hands-on experience with theoretical knowledge to prepare
            individuals and organizations for success in the digital age.
          </p>
          <div
            class="flex justify-center items-center mx-auto h-6 w-36 py-5 rounded-full bg-white"
          >
            <a [routerLink]="['/training']" class="flex">
              <button class="text-black">Read more</button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="#000000"
                class="bi bi-arrow-down-short"
                viewBox="0 0 16 16"
                class="h-6 w-6 mt-1 -rotate-90"
              >
                <path
                  fill-rule="evenodd"
                  d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="text-4xl text-white px-5">
      <h1>AI Is No Longer</h1>
      <h1>A <span class="text-blue-500">Thing Of The Future.</span></h1>
      <h4 class="text-xl">
        LIsh AI focuses on initiatives under three classifications: <br />
        industry-led projects, training, and Youth Empowerment.
      </h4>
    </div>

    <!-- cards -->
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 justify-content-center place-items-center gap-10 px-5 py-10"
    >
      <!-- youthempowerment -->
      <div
        class="border-[1px] border-black bg-slate-800 p-5 space-y-7 rounded-3xl h-[450px] opacity-80"
      >
        <h1 class="text-white text-center text-xl uppercase">
          Youth Empowerment
        </h1>
        <div
          class="bg-gradient-to-r from-yellow-400 to-teal-500 rounded-2xl w-28 mx-auto flex justify-center items-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="#000000"
            class="bi bi-hand-index"
            viewBox="0 0 16 16"
            class="h-24 w-24 py-4"
          >
            <path
              d="M6.75 1a.75.75 0 0 1 .75.75V8a.5.5 0 0 0 1 0V5.467l.086-.004c.317-.012.637-.008.816.027.134.027.294.096.448.182.077.042.15.147.15.314V8a.5.5 0 1 0 1 0V6.435l.106-.01c.316-.024.584-.01.708.04.118.046.3.207.486.43.081.096.15.19.2.259V8.5a.5.5 0 0 0 1 0v-1h.342a1 1 0 0 1 .995 1.1l-.271 2.715a2.5 2.5 0 0 1-.317.991l-1.395 2.442a.5.5 0 0 1-.434.252H6.035a.5.5 0 0 1-.416-.223l-1.433-2.15a1.5 1.5 0 0 1-.243-.666l-.345-3.105a.5.5 0 0 1 .399-.546L5 8.11V9a.5.5 0 0 0 1 0V1.75A.75.75 0 0 1 6.75 1M8.5 4.466V1.75a1.75 1.75 0 1 0-3.5 0v5.34l-1.2.24a1.5 1.5 0 0 0-1.196 1.636l.345 3.106a2.5 2.5 0 0 0 .405 1.11l1.433 2.15A1.5 1.5 0 0 0 6.035 16h6.385a1.5 1.5 0 0 0 1.302-.756l1.395-2.441a3.5 3.5 0 0 0 .444-1.389l.271-2.715a2 2 0 0 0-1.99-2.199h-.581a5 5 0 0 0-.195-.248c-.191-.229-.51-.568-.88-.716-.364-.146-.846-.132-1.158-.108l-.132.012a1.26 1.26 0 0 0-.56-.642 2.6 2.6 0 0 0-.738-.288c-.31-.062-.739-.058-1.05-.046zm2.094 2.025"
            />
          </svg>
        </div>

        <p class="text-gray-200 text-pretty">
          Lish AI Labs' youth programs, in partnership with Rockbridge
          Ministries, nurture future digital leaders through hands-on training
          and mentorship, fostering innovation and empowerment.
        </p>
        <div
          class="flex justify-center items-center h-6 w-36 py-5 rounded-full bg-white"
        >
          <a [routerLink]="['/about_us']" class="flex">
            <button>Read more</button>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-arrow-down-short"
              viewBox="0 0 16 16"
              class="h-6 w-6 mt-1 -rotate-90"
            >
              <path
                fill-rule="evenodd"
                d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4"
              />
            </svg>
          </a>
          <img src="" alt="" />
        </div>
      </div>

      <!-- job placement -->
      <div class="bg-slate-800 p-5 rounded-3xl h-[450px] opacity-80 space-y-7">
        <h1 class="text-white text-center text-xl uppercase">Job Placement</h1>
        <div
          class="bg-gradient-to-r from-yellow-400 to-teal-500 rounded-2xl w-28 mx-auto flex justify-center items-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-journal-richtext"
            viewBox="0 0 16 16"
            class="h-24 w-24 py-4"
          >
            <path
              d="M7.5 3.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0m-.861 1.542 1.33.886 1.854-1.855a.25.25 0 0 1 .289-.047L11 4.75V7a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 7v-.5s1.54-1.274 1.639-1.208M5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5"
            />
            <path
              d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"
            />
            <path
              d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"
            />
          </svg>
        </div>

        <P class="text-gray-200 text-pretty">
          Lish AI Labs connects skilled AI and ML professionals with top-tier
          employment opportunities, ensuring career success at every stage
        </P>
        <div
          class="flex justify-center items-center h-6 w-36 py-5 rounded-full bg-white mt-5"
        >
          <a [routerLink]="['/training']" class="flex">
            <button>Read more</button>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-arrow-down-short"
              viewBox="0 0 16 16"
              class="h-6 w-6 mt-1 -rotate-90"
            >
              <path
                fill-rule="evenodd"
                d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4"
              />
            </svg>
          </a>

          <img src="" alt="" />
        </div>
      </div>

      <!-- development -->
      <div class="bg-slate-800 p-5 rounded-3xl h-[450px] opacity-80 space-y-7">
        <h1 class="text-white text-center text-xl uppercase">
          Design & Development
        </h1>
        <div
          class="bg-gradient-to-r from-yellow-400 to-teal-500 rounded-2xl w-28 mx-auto flex justify-center items-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-braces-asterisk"
            viewBox="0 0 16 16"
            class="h-24 w-24 py-4"
          >
            <path
              fill-rule="evenodd"
              d="M1.114 8.063V7.9c1.005-.102 1.497-.615 1.497-1.6V4.503c0-1.094.39-1.538 1.354-1.538h.273V2h-.376C2.25 2 1.49 2.759 1.49 4.352v1.524c0 1.094-.376 1.456-1.49 1.456v1.299c1.114 0 1.49.362 1.49 1.456v1.524c0 1.593.759 2.352 2.372 2.352h.376v-.964h-.273c-.964 0-1.354-.444-1.354-1.538V9.663c0-.984-.492-1.497-1.497-1.6M14.886 7.9v.164c-1.005.103-1.497.616-1.497 1.6v1.798c0 1.094-.39 1.538-1.354 1.538h-.273v.964h.376c1.613 0 2.372-.759 2.372-2.352v-1.524c0-1.094.376-1.456 1.49-1.456v-1.3c-1.114 0-1.49-.362-1.49-1.456V4.352C14.51 2.759 13.75 2 12.138 2h-.376v.964h.273c.964 0 1.354.444 1.354 1.538V6.3c0 .984.492 1.497 1.497 1.6M7.5 11.5V9.207l-1.621 1.621-.707-.707L6.792 8.5H4.5v-1h2.293L5.172 5.879l.707-.707L7.5 6.792V4.5h1v2.293l1.621-1.621.707.707L9.208 7.5H11.5v1H9.207l1.621 1.621-.707.707L8.5 9.208V11.5z"
            />
          </svg>
        </div>

        <p class="text-gray-200 text-pretty">
          From intuitive user interfaces to robust backend systems, our team of
          experienced designers and developers collaborates closely with clients
          to deliver innovative and scalable solutions that drive results.
        </p>
        <!-- BUTTON -->
        <!-- <div
          class="flex justify-center items-center h-6 w-36 py-5 rounded-full bg-white"
        >
          <a [routerLink]="['/about_us']" class="flex">
            <button>Read more</button>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-arrow-down-short"
              viewBox="0 0 16 16"
              class="h-6 w-6 mt-1 -rotate-90"
            >
              <path
                fill-rule="evenodd"
                d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4"
              />
            </svg>
          </a>
          <img src="" alt="" />
        </div> -->
      </div>
      <!-- </div> -->
    </div>
  </div>
</section>
