<section class="max-w-7xl mx-auto">
  <h1 class="text-center text-blue-700 font-bold text-5xl">SERVICES</h1>
  <div class="">
    <h1 class="text-center text-2xl">AI and ML Training</h1>
    <div class="grid grid-cols-2 justify-content-center place-items-center">
      <div>
        <img src="" alt="" />
      </div>
      <div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla rem
          quasi, aspernatur quisquam, blanditiis nam sunt inventore illo earum
          architecto, ad molestias. Iste incidunt, libero repellat possimus
          cupiditate vero corrupti.
        </p>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-2 jjusify-content-center place-items-center">
    <div class="grid grid-row-2 justify-content-center place-items-center">
      <div>
        <h1>Youth Empowerment</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio cum
          voluptate nemo quae neque consequatur tenetur quia qui ipsa facilis.
        </p>
      </div>
      <div>
        <h1>Employment Placement Services</h1>
        <P
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
          alias dignissimos nostrum excepturi placeat cumque, a et sunt amet
          aliquid doloribus sapiente dolor. Nam, expedita!</P
        >
      </div>
    </div>
    <div>
      <h1>esign and Development</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat facere
        expedita, neque, amet dicta voluptates atque asperiores libero ratione
        odit fugiat ea ab! Sapiente ad error quod voluptatum inventore?
      </p>
    </div>
  </div>
</section>
