<section class="max-w-7xl mx-auto">
  <h1 class="text-center text-blue-700 font-bold text-5xl">SERVICES</h1>
  <!-- <div class="">
    <h1 class="text-center text-2xl">AI and ML Training</h1>
    <div class="grid grid-cols-2 justify-content-center place-items-center">
      <div>
        <img src="" alt="" />
      </div>
      <div class="border-[1px] border-black bg-blue-300">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla rem
          quasi, aspernatur quisquam, blanditiis nam sunt inventore illo earum
          architecto, ad molestias. Iste incidunt, libero repellat possimus
          cupiditate vero corrupti.
        </p>
      </div>
    </div>
  </div> -->

  <div class="container mx-auto px-4 py-10 text-center">
    <!-- Heading -->
    <h1 class="text-2xl lg:text-4xl font-semibold text-black uppercase mb-14">
      AI and ML Training
    </h1>
    <!-- Image and Content -->
    <div class="lg:flex lg:items-center lg:justify-between">
      <!-- Image -->
      <div class="lg:w-1/3 mb-5 lg:mb-14">
        <img
          src="https://res.cloudinary.com/dpfcle0os/image/upload/v1706975532/samples/Lish-website/robot_waxepm.jpg"
          alt="AI and ML Training"
          class="w-full h-auto"
        />
      </div>
      <!-- Content -->
      <div class="lg:w-2/3 lg:ml-24 text-black text-center lg:text-left mb-10">
        <p>
          Dive into the realm of Artificial Intelligence and Machine Learning
          with our comprehensive training program.<br />
          Whether you're a novice or an expert, our courses cater to all skill
          levels, offering hands-on experience and <br />theoretical knowledge
          to equip you for the challenges of tomorrow's technology landscape.
        </p>
        <br />
        <p>
          Our expert instructors will guide you through cutting-edge algorithms,
          deep learning frameworks, and practical applications,<br />
          ensuring you gain a deep understanding of AI and ML concepts. Join us
          on this journey to unlock the potential of intelligent systems and
          revolutionize industries worldwide.
        </p>
      </div>
    </div>
  </div>

  <div
    class="grid grid-cols-2 jjusify-content-center place-items-center gap-5 "
  >
    <div
      class="grid grid-row-2 justify-content-center place-items-center gap-5 py-10"
    >
      <div class="border-[1px] border-black bg-blue-300">
        <h1>Youth Empowerment</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio cum
          voluptate nemo quae neque consequatur tenetur quia qui ipsa facilis.
        </p>
      </div>
      <div class="border-[1px] border-black bg-blue-300">
        <h1>Employment Placement Services</h1>
        <P
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
          alias dignissimos nostrum excepturi placeat cumque, a et sunt amet
          aliquid doloribus sapiente dolor. Nam, expedita!</P
        >
      </div>
    </div>
    <div class="border-[1px] border-black bg-blue-300">
      <h1>esign and Development</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat facere
        expedita, neque, amet dicta voluptates atque asperiores libero ratione
        odit fugiat ea ab! Sapiente ad error quod voluptatum inventore?
      </p>
    </div>
  </div>
</section>
